<ul>
  <%- pages.each do |page| -%>
      <li>
        <%= link_to page.menu_name, url_gen("/#{page.url}") -%>
        <%= render("visitors/map_ul", pages: page.children.all(order: :weight)) if page.has_children? -%>
      </li>
  <%- end -%>
</ul>