<div class="sidebar">
  <div class="widget-block">
    <p class="sidebar-header">Služby</p>
    <ul>
      <li><p class="sidebar-item"><%= link_to 'Hliníkové dvere a okná', url_gen('/hlinikove-okna-a-dvere') %></p></li>
      <li><p class="sidebar-item"><%= link_to 'Poštové schránky', url_gen('/postove-schranky') %></p></li>
      <li><p class="sidebar-item"><%= link_to 'Prístupové systémy', url_gen('/pristupove-systemy') %></p></li>
      <li><p class="sidebar-item"><%= link_to 'Komunikačné zariadenia', '/audio-video-komunikacne-zariadenia' %></p></li>
      <li><p class="sidebar-item"><%= link_to 'Elektroinštalácie', url_gen('/elektroinstalacie') %></p></li>
      <li><p class="sidebar-item"><%= link_to 'Hliníkové fasády', url_gen('/hlinikove-fasady') %></p></li>
    </ul>
  </div>
  <div class="widget-block">
    <iframe src="//www.facebook.com/plugins/likebox.php?href=http%3A%2F%2Fwww.facebook.com%2Fpages%2FATOS-LR-po%25C5%25A1tov%25C3%25A9-schr%25C3%25A1nky-hlin%25C3%25ADkov%25C3%25A9-dvere-a-okn%25C3%25A1-elektroin%25C5%25A1tal%25C3%25A1cie%2F168776793238576&amp;width=300&amp;height=258&amp;colorscheme=light&amp;show_faces=true&amp;header=false&amp;stream=false&amp;show_border=false&amp;appId=180556405337806" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:300px; height:258px;" allowTransparency="true"></iframe>
  </div>
</div>