<% if @article %>
    <% content_for :title, @title  %>
    <% content_for :description, @article.description %>
    <% content_for :keywords, @article.keywords %>

    <div class="fullblock blockgrey padding20">
      <div class="container">
        <div class="row breadcrumbs">
          <div class="span6">
            <h1><%= @article.name %></h1>
          </div>
          <div class="span6">
            <p>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="fullblock blockwhite padding20" >
      <div class="container">
        <% unless @article.content == '' %>
            <div class="row">
              <div class="span8">
                <div class="blog-post-wrap">
                  <div class="post-desc">
                    <%= @article.content.html_safe -%>
                  </div>
                </div>
              </div>
              <div class="span4 visible-desktop">
                <%= render "sidebar" %>
              </div>
            </div>
        <% end %>
      </div>
    </div>
<% else %>
    <% content_for :title, @title  %>
    <div class="fullblock blockgrey padding20">
      <div class="container">
        <div class="row breadcrumbs">
          <div class="span6">
            <h1><%= @title %></h1>
          </div>
          <div class="span6">
            <p>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="fullblock blockwhite padding20" >
      <div class="container">
            <div class="row">
              <div class="span8">
                    <% @articles.each do |article| %>
                        <div class="blog-post-wrap">
                          <div class="post-type">
                          </div>

                          <div class="post-desc">
                            <h1 class="post-title">
                              <%= link_to article.name, article_path(article.url) %>
                            </h1>
                            <p>
                              <%= Sanitize.clean(article.content)[0..300].html_safe %>...
                              <%= link_to "Viac", article_path(article.url) %>
                            </p>

                          </div>
                        </div>
                    <% end %>
              </div>
              <div class="span4 visible-desktop">
                <%= render "sidebar" %>
              </div>
            </div>
      </div>
    </div>
<% end %>