<% content_for :title, @title %>
<% content_for :description, @page.description %>
<% content_for :keywords, @page.keywords %>

<div class="fullblock blockgrey padding20">
  <div class="container">
    <div class="row breadcrumbs">
      <div class="span6">
        <h1><%= @page.name %></h1>
      </div>
      <div class="span6">
        <p>
            <%= @path.html_safe %>
        </p>
      </div>
    </div>
  </div>
</div>
<div class="fullblock blockwhite padding20" >
  <div class="container">
    <% unless @page.content == '' %>
        <div class="row">
          <div class="span8">
            <div class="blog-post-wrap">
              <div class="post-desc">
                <%= @page.content.html_safe -%>
              </div>
            </div>
          </div>
          <div class="span4 visible-desktop">
            <%= render "sidebar" %>
          </div>
        </div>
    <% end %>
  </div>
</div>
<% if @page.images.length > 0 %>
    <div class="fullblock blockwhite">
      <div class="portfolio">
        <ul id="og-grid" class="og-grid">

          <% @page.images.each do |image| %>
              <li class="mypassion-animation">
                <%= link_to image_tag(image.img.url(:portfolio_thumb), alt: image.alt), '#!', data: {largesrc: image.img.url(:portfolio), description: image.alt} %>
              </li>
          <% end %>
        </ul>
      </div>
    </div>
<% end %>
