<% content_for :title, 'Mapa stránky' %>
<div class="fullblock blockgrey padding20">
  <div class="container">
    <div class="row breadcrumbs">
      <div class="span6">
        <h1>Mapa stránky</h1>
      </div>
      <div class="span6">
        <p>
          <%= link_to 'Mapa stránky', url_gen('/site-map') -%>
        </p>
      </div>
    </div>
  </div>
</div>
<div class="fullblock blockwhite padding50" >
  <div class="container">
    <div class="row">
      <div class="span12">
        <div class="blog-post-wrap">
          <div class="post-desc">
            <p>
              <%= render 'visitors/map_ul', pages: Page.roots.all(order: :weight)  -%>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>