<% content_for :title, 'Kontakt' %>

<div class="fullblock blockgrey padding20">
    <div class="container">
        <div class="row breadcrumbs">
            <div class="span6">
                <h1>Kontakt</h1>
            </div>
            <div class="span6">
                <p>
                </p>
            </div>
        </div>
    </div>
</div>
<div class="fullblock blockwhite" >
    <div class="container">
        <div class="row">
            <div class="span12">
                <div class="blog-post-wrap">
                    <div class="post-desc">
                      <div class="span5 contact">
                        <div class="row">
                          <div class="blog-post-wrap">
                            <div class="span2">
                              <h1 class="widget-title">Ľubomír Richtárik</h1>
                              <div class="contact-widget">
                                <p>
                                  konateľ firmy<br>
                                  lubomirrichtarik@atos.sk<br>
                                  <a href="tel:+421905280061">+421 905 280 061</a>
                                </p>
                                <div class="clearfix"></div>
                              </div>
                            </div>
                            <div class="span2">
                              <h1 class="widget-title">Daniela Richtáriková</h1>
                              <div class="contact-widget">
                                <p>
                                  konateľka firmy<br>
                                  danielarichtarikova@atos.sk<br>
                                  <a href="tel:+421908302020">+421 908 302 020</a>
                                </p>
                                <div class="clearfix"></div>
                              </div>
                            </div>
                            <div class="span2">
                              <h1 class="widget-title">Tomáš Richtárik</h1>
                              <div class="contact-widget">
                                <p>
                                  obchodno-technický riaditeľ<br>
                                  tomasrichtarik@atos.sk<br>
                                  <a href="tel:+421915224830">+421 915 224 830</a>
                                </p>
                                <div class="clearfix"></div>
                              </div>
                            </div>

                            <div class="span2">
                              <h1 class="widget-title">Bc. Juraj Monček</h1>
                              <div class="contact-widget">
                                <p>
                                  technik<br>
                                  jurajmoncek@atos.sk<br>
                                  <a href="tel:+421917630273">+421 917 630 273</a>
                                </p>
                                <div class="clearfix"></div>
                              </div>
                            </div>


                          </div>
                          <div class="span2">
                            <h1 class="widget-title">Kontakt</h1>
                            <div class="contact-widget">
                              <i class="icon-address"></i>
                              <p>
                                A.T.O.S. LR, s.r.o.<br />
                                Lúčna 8<br />
                                971 01 Prievidza
                              </p>
                              <div class="clearfix"></div>
                            </div>
                          </div>
                          <div class="span2">
                            <h1 class="widget-title">IČ</h1>
                            <div class="contact-widget">
                              <i class="icon-vcard"></i>
                              <p>
                                IČO: 36 33 07 36<br />
                                IČ DPH: SK2021750874
                              </p>
                              <div class="clearfix"></div>
                            </div>
                          </div>
                          <div class="span2">
                            <h1 class="widget-title">Telefón</h1>
                            <div class="contact-widget">
                              <i class="icon-phone"></i>
                              <p>
                                <a href="tel:+421465423627">+421 46 5423627</a><br />
                                <a href="tel:+421915224830">+421 915 224 830</a>
                              </p>
                              <div class="clearfix"></div>
                            </div>
                          </div>
                          <div class="span2">
                            <h1 class="widget-title">Prevádzka</h1>
                            <div class="contact-widget">
                              <i class="icon-basket-2"></i>
                              <p>
                                A. Stodolu 4<br />
                                Prievidza 971 01
                              </p>
                              <div class="clearfix"></div>
                            </div>
                          </div>
                          <div class="clearfix"></div>

                          <div class="span2">
                            <h1 class="widget-title">GPS</h1>
                            <div class="contact-widget">
                              <i class="icon-location"></i>
                              <p>
                                48°46'7.99"N<br />
                                18°36'20.34"E
                              </p>
                              <div class="clearfix"></div>
                            </div>
                          </div>
                          <div class="span2">
                            <h1 class="widget-title">E-mail</h1>
                            <div class="contact-widget">
                              <i class="icon-mail-3"></i>
                              <p>
                                atos@atos.sk<br>
                                <a href="http://www.atos.sk">www.atos.sk</a>
                              </p>
                              <div class="clearfix"></div>
                            </div>
                          </div>




                        </div>
                      </div>
                        <div class="span5">
                            <div class="contact-form">
                                <div class="alertMessage">
                                </div>
                                <h1 class="widget-title"></h1>
                              <form action="" method="post" id="contactForm" name="contactForm">
                                    <div class="input-holder">
                                        <label>E-mail*</label>
                                        <div class="input">
                                            <span class="email"></span>
                                            <input type="text" class="name required" name="email" id="email" type="email" id="email" required>
                                        </div>
                                    </div>
                                    <div class="input-holder">
                                        <label>Správa*</label>
                                        <textarea name="contactm" id="contactm" type="text" class="required" rows="10" cols="20"></textarea>
                                    </div>
                                    <div class="input-holder">
                                      <%= recaptcha_tags ajax: true, display: {theme: "clean"} -%>
                                    </div>
                                    <div class="form2">
                                        <!--<a href="javascript:submitForm();" class="btn-theme btn-theme-large disabled"><i class="icon-paper-plane left"></i> Odoslať správu</a>-->
                                       <%= link_to '<i class="icon-paper-plane left"></i> Odoslať správu'.html_safe , "javascript:jQuery.post(window.location.origin + '/contact',jQuery('#contactForm').serialize());", class: 'btn btn-large disabled btn-theme btn-theme-large' %>
                                    </div>
                                </form>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<% content_for :javascript do %>
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function () {
            function submitForm(){
                "use strict";

                jQuery.post('/contact',jQuery('#contactForm').serialize());
//	// Hide previous response text
//	jQuery(msg).remove();
//	// Show response message
//	contactform.prepend(msg);
            };
            $('#contactForm').validate(
                    {
                        rules: {
                          'email': {
                              required: true,
                              email: true
                          }
                        },
                        messages: {
                            'email': {
                                required: 'Nemôže byť prázdne!',
                                email: 'Nesprávne zadaný e-mail!'
                            }
                        },
                        success: function(element) {
                            $('form .disabled').removeClass('disabled');
                        }
                    }
            );
        });
    </script>
<% end %>
