<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Email z kontaktneho formulara stranky atos.sk</h1>
<p>
  E-mail: <br />
  <%= @email_from %>
</p>
<p>
  Správa: <br />
  <%= @message.html_safe %>
</p>
</body>
</html>