@font-face {
  font-family: 'fontello';
  src: url('/fonts/fontello.eot?4322875');
  src: url('/fonts/fontello.eot?4322875#iefix') format('embedded-opentype'),
  url('/fonts/fontello.woff?4322875') format('woff'),
  url('/fonts/fontello.ttf?4322875') format('truetype'),
  url('/fonts/fontello.svg?4322875#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?4322875#fontello') format('svg');
  }
}
*/

[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-duckduckgo:before { content: '\ea50'; } /* '' */
.icon-aim:before { content: '\ea51'; } /* '' */
.icon-delicious:before { content: '\ea52'; } /* '' */
.icon-paypal-1:before { content: '\ea53'; } /* '' */
.icon-money-1:before { content: '\ea14'; } /* '' */
.icon-flattr-1:before { content: '\ea54'; } /* '' */
.icon-android-1:before { content: '\ea55'; } /* '' */
.icon-eventful:before { content: '\ea56'; } /* '' */
.icon-smashmag:before { content: '\ea57'; } /* '' */
.icon-plus-1:before { content: '\e91e'; } /* '' */
.icon-gplus-1:before { content: '\ea58'; } /* '' */
.icon-plus:before { content: '\e820'; } /* '' */
.icon-wikipedia:before { content: '\ea59'; } /* '' */
.icon-minus-1:before { content: '\e922'; } /* '' */
.icon-lanyrd:before { content: '\ea5a'; } /* '' */
.icon-minus:before { content: '\e823'; } /* '' */
.icon-calendar-3:before { content: '\ea5b'; } /* '' */
.icon-stumbleupon-1:before { content: '\ea5c'; } /* '' */
.icon-fivehundredpx:before { content: '\ea5d'; } /* '' */
.icon-pinterest-1:before { content: '\ea5e'; } /* '' */
.icon-bitcoin-1:before { content: '\ea5f'; } /* '' */
.icon-w3c:before { content: '\ea60'; } /* '' */
.icon-foursquare:before { content: '\ea61'; } /* '' */
.icon-html5-1:before { content: '\ea62'; } /* '' */
.icon-ie-1:before { content: '\ea63'; } /* '' */
.icon-grooveshark:before { content: '\ea64'; } /* '' */
.icon-ninetyninedesigns:before { content: '\ea65'; } /* '' */
.icon-forrst:before { content: '\ea66'; } /* '' */
.icon-digg:before { content: '\ea67'; } /* '' */
.icon-spotify-1:before { content: '\ea68'; } /* '' */
.icon-reddit:before { content: '\ea69'; } /* '' */
.icon-guest:before { content: '\ea6a'; } /* '' */
.icon-at:before { content: '\ea13'; } /* '' */
.icon-gowalla:before { content: '\ea6b'; } /* '' */
.icon-appstore:before { content: '\ea6c'; } /* '' */
.icon-blogger:before { content: '\ea6d'; } /* '' */
.icon-cc:before { content: '\ea6e'; } /* '' */
.icon-dribbble-1:before { content: '\ea6f'; } /* '' */
.icon-evernote-1:before { content: '\ea70'; } /* '' */
.icon-flickr-1:before { content: '\ea71'; } /* '' */
.icon-google:before { content: '\ea72'; } /* '' */
.icon-viadeo:before { content: '\ea73'; } /* '' */
.icon-instapaper:before { content: '\ea74'; } /* '' */
.icon-weibo:before { content: '\ea75'; } /* '' */
.icon-klout:before { content: '\ea76'; } /* '' */
.icon-linkedin-1:before { content: '\ea77'; } /* '' */
.icon-meetup:before { content: '\ea78'; } /* '' */
.icon-vk:before { content: '\ea79'; } /* '' */
.icon-plancast:before { content: '\ea7a'; } /* '' */
.icon-disqus:before { content: '\ea7b'; } /* '' */
.icon-rss-2:before { content: '\ea7c'; } /* '' */
.icon-skype-1:before { content: '\ea7d'; } /* '' */
.icon-twitter-1:before { content: '\ea7e'; } /* '' */
.icon-youtube-1:before { content: '\ea7f'; } /* '' */
.icon-vimeo-1:before { content: '\ea80'; } /* '' */
.icon-windows-1:before { content: '\ea81'; } /* '' */
.icon-xing-1:before { content: '\ea82'; } /* '' */
.icon-yahoo:before { content: '\ea83'; } /* '' */
.icon-chrome-1:before { content: '\ea84'; } /* '' */
.icon-email:before { content: '\ea85'; } /* '' */
.icon-macstore:before { content: '\ea86'; } /* '' */
.icon-podcast:before { content: '\ea87'; } /* '' */
.icon-amazon:before { content: '\ea88'; } /* '' */
.icon-steam:before { content: '\ea89'; } /* '' */
.icon-ebay:before { content: '\ea8a'; } /* '' */
.icon-facebook-1:before { content: '\ea8b'; } /* '' */
.icon-github-1:before { content: '\ea8c'; } /* '' */
.icon-itunes:before { content: '\ea8e'; } /* '' */
.icon-plurk:before { content: '\ea8f'; } /* '' */
.icon-songkick:before { content: '\ea90'; } /* '' */
.icon-lastfm-1:before { content: '\ea91'; } /* '' */
.icon-gmail:before { content: '\ea92'; } /* '' */
.icon-pinboard:before { content: '\ea93'; } /* '' */
.icon-openid:before { content: '\ea94'; } /* '' */
.icon-quora:before { content: '\ea95'; } /* '' */
.icon-soundcloud-1:before { content: '\ea96'; } /* '' */
.icon-tumblr-1:before { content: '\ea97'; } /* '' */
.icon-eventasaurus:before { content: '\ea98'; } /* '' */
.icon-wordpress:before { content: '\ea99'; } /* '' */
.icon-yelp:before { content: '\ea9a'; } /* '' */
.icon-intensedebate:before { content: '\ea9b'; } /* '' */
.icon-eventbrite:before { content: '\ea9c'; } /* '' */
.icon-scribd:before { content: '\ea9d'; } /* '' */
.icon-posterous:before { content: '\ea9e'; } /* '' */
.icon-stripe:before { content: '\ea9f'; } /* '' */
.icon-opentable:before { content: '\eaa0'; } /* '' */
.icon-cart:before { content: '\eaa1'; } /* '' */
.icon-angellist:before { content: '\eaa2'; } /* '' */
.icon-statusnet:before { content: '\eaa3'; } /* '' */
.icon-acrobat:before { content: '\eaa4'; } /* '' */
.icon-drupal:before { content: '\eaa5'; } /* '' */
.icon-buffer:before { content: '\eaa6'; } /* '' */
.icon-github-circled-2:before { content: '\ea8d'; } /* '' */
.icon-bitbucket-1:before { content: '\eaa7'; } /* '' */
.icon-lego:before { content: '\eaa8'; } /* '' */
.icon-login-2:before { content: '\eaa9'; } /* '' */
.icon-stackoverflow-1:before { content: '\eaaa'; } /* '' */
.icon-hackernews:before { content: '\eaab'; } /* '' */
.icon-lkdto:before { content: '\eaac'; } /* '' */
.icon-info:before { content: '\e828'; } /* '' */
.icon-left-1:before { content: '\e9f5'; } /* '' */
.icon-left-thin:before { content: '\e88f'; } /* '' */
.icon-up-thin:before { content: '\e891'; } /* '' */
.icon-up-1:before { content: '\e9f7'; } /* '' */
.icon-right-1:before { content: '\e9f6'; } /* '' */
.icon-right-thin:before { content: '\e890'; } /* '' */
.icon-down-1:before { content: '\e9f4'; } /* '' */
.icon-down-thin:before { content: '\e88e'; } /* '' */
.icon-level-up:before { content: '\e896'; } /* '' */
.icon-level-down:before { content: '\e895'; } /* '' */
.icon-switch:before { content: '\e899'; } /* '' */
.icon-infinity:before { content: '\e8c4'; } /* '' */
.icon-plus-squared:before { content: '\e822'; } /* '' */
.icon-minus-squared:before { content: '\e825'; } /* '' */
.icon-home:before { content: '\e82c'; } /* '' */
.icon-home-1:before { content: '\e929'; } /* '' */
.icon-keyboard:before { content: '\e845'; } /* '' */
.icon-erase:before { content: '\e8c5'; } /* '' */
.icon-pause:before { content: '\e89c'; } /* '' */
.icon-fast-forward:before { content: '\e8a0'; } /* '' */
.icon-fast-backward:before { content: '\e8a1'; } /* '' */
.icon-to-end:before { content: '\e89e'; } /* '' */
.icon-to-start:before { content: '\e89f'; } /* '' */
.icon-stopwatch:before { content: '\ea1d'; } /* '' */
.icon-hourglass:before { content: '\e866'; } /* '' */
.icon-stop:before { content: '\e89b'; } /* '' */
.icon-up-dir:before { content: '\e889'; } /* '' */
.icon-play:before { content: '\e89a'; } /* '' */
.icon-right-dir:before { content: '\e888'; } /* '' */
.icon-down-dir:before { content: '\e886'; } /* '' */
.icon-left-dir:before { content: '\e887'; } /* '' */
.icon-adjust:before { content: '\e86a'; } /* '' */
.icon-cloud:before { content: '\e8b4'; } /* '' */
.icon-cloud-1:before { content: '\e983'; } /* '' */
.icon-umbrella:before { content: '\e985'; } /* '' */
.icon-star:before { content: '\e80b'; } /* '' */
.icon-star-1:before { content: '\e9fe'; } /* '' */
.icon-star-empty:before { content: '\e80c'; } /* '' */
.icon-check-1:before { content: '\e9aa'; } /* '' */
.icon-cup:before { content: '\e851'; } /* '' */
.icon-left-hand:before { content: '\e974'; } /* '' */
.icon-up-hand:before { content: '\e975'; } /* '' */
.icon-right-hand:before { content: '\e973'; } /* '' */
.icon-down-hand:before { content: '\e976'; } /* '' */
.icon-menu:before { content: '\e814'; } /* '' */
.icon-th-list:before { content: '\e916'; } /* '' */
.icon-moon:before { content: '\e8b7'; } /* '' */
.icon-female-1:before { content: '\ea21'; } /* '' */
.icon-male-1:before { content: '\ea22'; } /* '' */
.icon-heart-empty:before { content: '\e80a'; } /* '' */
.icon-heart:before { content: '\e809'; } /* '' */
.icon-note:before { content: '\e805'; } /* '' */
.icon-note-beamed:before { content: '\e806'; } /* '' */
.icon-layout:before { content: '\e813'; } /* '' */
.icon-th:before { content: '\e915'; } /* '' */
.icon-flag-1:before { content: '\e92f'; } /* '' */
.icon-flag:before { content: '\e835'; } /* '' */
.icon-tools:before { content: '\e85a'; } /* '' */
.icon-anchor-1:before { content: '\ea24'; } /* '' */
.icon-cog:before { content: '\e859'; } /* '' */
.icon-cog-1:before { content: '\e957'; } /* '' */
.icon-attention-1:before { content: '\e947'; } /* '' */
.icon-attention:before { content: '\e849'; } /* '' */
.icon-flash-1:before { content: '\e982'; } /* '' */
.icon-flash:before { content: '\e8b6'; } /* '' */
.icon-record:before { content: '\e89d'; } /* '' */
.icon-key-2:before { content: '\e9f9'; } /* '' */
.icon-cloud-thunder:before { content: '\e8b5'; } /* '' */
.icon-cog-alt:before { content: '\e958'; } /* '' */
.icon-scissors:before { content: '\e99d'; } /* '' */
.icon-tape:before { content: '\e8ca'; } /* '' */
.icon-flight-1:before { content: '\e986'; } /* '' */
.icon-flight:before { content: '\e8b8'; } /* '' */
.icon-mail-2:before { content: '\e912'; } /* '' */
.icon-mail-3:before { content: '\e9fd'; } /* '' */
.icon-mail-1:before { content: '\e911'; } /* '' */
.icon-edit:before { content: '\e93d'; } /* '' */
.icon-pencil-1:before { content: '\e93b'; } /* '' */
.icon-pencil:before { content: '\e841'; } /* '' */
.icon-pencil-2:before { content: '\ea1a'; } /* '' */
.icon-feather:before { content: '\e842'; } /* '' */
.icon-vector-pencil:before { content: '\ea1f'; } /* '' */
.icon-check:before { content: '\e815'; } /* '' */
.icon-ok:before { content: '\e917'; } /* '' */
.icon-ok-circled:before { content: '\e918'; } /* '' */
.icon-cancel-1:before { content: '\e91b'; } /* '' */
.icon-cancel:before { content: '\e816'; } /* '' */
.icon-cancel-circled-1:before { content: '\e91c'; } /* '' */
.icon-cancel-circled:before { content: '\e81e'; } /* '' */
.icon-cancel-squared:before { content: '\e81f'; } /* '' */
.icon-help:before { content: '\e826'; } /* '' */
.icon-attention-circled:before { content: '\e948'; } /* '' */
.icon-quote-left-alt:before { content: '\e9eb'; } /* '' */
.icon-quote-right-alt:before { content: '\e9ec'; } /* '' */
.icon-quote:before { content: '\e83e'; } /* '' */
.icon-plus-circled:before { content: '\e821'; } /* '' */
.icon-plus-circled-1:before { content: '\e91f'; } /* '' */
.icon-minus-circled-1:before { content: '\e923'; } /* '' */
.icon-minus-circled:before { content: '\e824'; } /* '' */
.icon-right:before { content: '\e884'; } /* '' */
.icon-direction:before { content: '\e84f'; } /* '' */
.icon-forward:before { content: '\e83d'; } /* '' */
.icon-ccw:before { content: '\e892'; } /* '' */
.icon-ccw-1:before { content: '\e978'; } /* '' */
.icon-cw:before { content: '\e893'; } /* '' */
.icon-cw-1:before { content: '\e977'; } /* '' */
.icon-left:before { content: '\e883'; } /* '' */
.icon-up:before { content: '\e885'; } /* '' */
.icon-down:before { content: '\e882'; } /* '' */
.icon-resize-vertical:before { content: '\e96a'; } /* '' */
.icon-resize-horizontal:before { content: '\e96b'; } /* '' */
.icon-list-add:before { content: '\e8a8'; } /* '' */
.icon-list:before { content: '\e8a7'; } /* '' */
.icon-accessibility:before { content: '\eabc'; } /* '' */
.icon-phone-circled:before { content: '\eab9'; } /* '' */
.icon-phone-2:before { content: '\eab8'; } /* '' */
.icon-gift-1:before { content: '\eabf'; } /* '' */
.icon-male-2:before { content: '\eabd'; } /* '' */
.icon-guidedog:before { content: '\eabb'; } /* '' */
.icon-group:before { content: '\eab6'; } /* '' */
.icon-female-2:before { content: '\eabe'; } /* '' */
.icon-comment-alt:before { content: '\eab7'; } /* '' */
.icon-blind:before { content: '\eaba'; } /* '' */
.icon-basket-3:before { content: '\e82a'; } /* '' */
.icon-mail-4:before { content: '\eab5'; } /* '' */
.icon-left-bold:before { content: '\e88b'; } /* '' */
.icon-right-bold:before { content: '\e88c'; } /* '' */
.icon-up-bold:before { content: '\e88d'; } /* '' */
.icon-down-bold:before { content: '\e88a'; } /* '' */
.icon-user-add:before { content: '\e80f'; } /* '' */
.icon-ok-circled2:before { content: '\e919'; } /* '' */
.icon-cancel-circled2:before { content: '\e91d'; } /* '' */
.icon-help-circled:before { content: '\e827'; } /* '' */
.icon-help-circled-1:before { content: '\e928'; } /* '' */
.icon-info-circled:before { content: '\e829'; } /* '' */
.icon-th-large:before { content: '\e914'; } /* '' */
.icon-eye-1:before { content: '\e92d'; } /* '' */
.icon-eye:before { content: '\e831'; } /* '' */
.icon-tag:before { content: '\e832'; } /* '' */
.icon-tag-1:before { content: '\e92e'; } /* '' */
.icon-camera-alt:before { content: '\e81d'; } /* '' */
.icon-upload-cloud:before { content: '\e83a'; } /* '' */
.icon-reply:before { content: '\e83b'; } /* '' */
.icon-reply-all:before { content: '\e83c'; } /* '' */
.icon-code:before { content: '\e83f'; } /* '' */
.icon-export-1:before { content: '\e939'; } /* '' */
.icon-export:before { content: '\e840'; } /* '' */
.icon-print:before { content: '\e843'; } /* '' */
.icon-retweet:before { content: '\e844'; } /* '' */
.icon-comment-1:before { content: '\e940'; } /* '' */
.icon-comment:before { content: '\e846'; } /* '' */
.icon-chat-1:before { content: '\e941'; } /* '' */
.icon-chat:before { content: '\e847'; } /* '' */
.icon-chat-2:before { content: '\ea04'; } /* '' */
.icon-vcard:before { content: '\e84b'; } /* '' */
.icon-address:before { content: '\e84c'; } /* '' */
.icon-location-1:before { content: '\e949'; } /* '' */
.icon-location-3:before { content: '\ea03'; } /* '' */
.icon-location:before { content: '\e84d'; } /* '' */
.icon-location-2:before { content: '\e9ed'; } /* '' */
.icon-location-inv:before { content: '\e9ee'; } /* '' */
.icon-map:before { content: '\e84e'; } /* '' */
.icon-compass:before { content: '\e850'; } /* '' */
.icon-trash:before { content: '\e852'; } /* '' */
.icon-trash-2:before { content: '\ea02'; } /* '' */
.icon-trash-1:before { content: '\e94a'; } /* '' */
.icon-archive:before { content: '\e854'; } /* '' */
.icon-rss:before { content: '\e857'; } /* '' */
.icon-share:before { content: '\e85b'; } /* '' */
.icon-basket-2:before { content: '\ea05'; } /* '' */
.icon-basket:before { content: '\e85d'; } /* '' */
.icon-basket-1:before { content: '\e95a'; } /* '' */
.icon-shareable:before { content: '\e85c'; } /* '' */
.icon-login-1:before { content: '\e95d'; } /* '' */
.icon-login:before { content: '\e860'; } /* '' */
.icon-logout-1:before { content: '\e95e'; } /* '' */
.icon-logout:before { content: '\e861'; } /* '' */
.icon-resize-full-2:before { content: '\e9ef'; } /* '' */
.icon-resize-full:before { content: '\e86c'; } /* '' */
.icon-resize-full-1:before { content: '\e967'; } /* '' */
.icon-resize-full-alt-1:before { content: '\e9f0'; } /* '' */
.icon-resize-small-1:before { content: '\e969'; } /* '' */
.icon-resize-small-2:before { content: '\e9f1'; } /* '' */
.icon-resize-small:before { content: '\e86d'; } /* '' */
.icon-resize-small-alt:before { content: '\e9f2'; } /* '' */
.icon-move-1:before { content: '\e9f3'; } /* '' */
.icon-popup:before { content: '\e86f'; } /* '' */
.icon-publish:before { content: '\e86e'; } /* '' */
.icon-window:before { content: '\e870'; } /* '' */
.icon-arrow-combo:before { content: '\e871'; } /* '' */
.icon-zoom-in:before { content: '\e96d'; } /* '' */
.icon-zoom-out:before { content: '\e96e'; } /* '' */
.icon-chart-pie:before { content: '\e8c6'; } /* '' */
.icon-language:before { content: '\e8cc'; } /* '' */
.icon-air:before { content: '\e8d0'; } /* '' */
.icon-database:before { content: '\e8d5'; } /* '' */
.icon-drive:before { content: '\e8d6'; } /* '' */
.icon-bucket:before { content: '\e8d7'; } /* '' */
.icon-thermometer:before { content: '\e8d8'; } /* '' */
.icon-down-circled:before { content: '\e872'; } /* '' */
.icon-left-circled:before { content: '\e873'; } /* '' */
.icon-right-circled:before { content: '\e874'; } /* '' */
.icon-up-circled:before { content: '\e875'; } /* '' */
.icon-down-open:before { content: '\e876'; } /* '' */
.icon-left-open:before { content: '\e877'; } /* '' */
.icon-right-open:before { content: '\e878'; } /* '' */
.icon-up-open:before { content: '\e879'; } /* '' */
.icon-arrows-cw:before { content: '\e979'; } /* '' */
.icon-down-open-mini:before { content: '\e87a'; } /* '' */
.icon-left-open-mini:before { content: '\e87b'; } /* '' */
.icon-right-open-mini:before { content: '\e87c'; } /* '' */
.icon-up-open-mini:before { content: '\e87d'; } /* '' */
.icon-down-open-big:before { content: '\e87e'; } /* '' */
.icon-left-open-big:before { content: '\e87f'; } /* '' */
.icon-right-open-big:before { content: '\e880'; } /* '' */
.icon-up-open-big:before { content: '\e881'; } /* '' */
.icon-progress-0:before { content: '\e8a2'; } /* '' */
.icon-progress-1:before { content: '\e8a3'; } /* '' */
.icon-progress-2:before { content: '\e8a4'; } /* '' */
.icon-progress-3:before { content: '\e8a5'; } /* '' */
.icon-signal-2:before { content: '\ea10'; } /* '' */
.icon-back-in-time:before { content: '\e8ac'; } /* '' */
.icon-network:before { content: '\e8af'; } /* '' */
.icon-inbox:before { content: '\e8b1'; } /* '' */
.icon-install:before { content: '\e8b2'; } /* '' */
.icon-font:before { content: '\e988'; } /* '' */
.icon-bold:before { content: '\e989'; } /* '' */
.icon-italic:before { content: '\e98a'; } /* '' */
.icon-text-height:before { content: '\e98b'; } /* '' */
.icon-text-width:before { content: '\e98c'; } /* '' */
.icon-align-left:before { content: '\e98d'; } /* '' */
.icon-align-center:before { content: '\e98e'; } /* '' */
.icon-align-right:before { content: '\e98f'; } /* '' */
.icon-align-justify:before { content: '\e990'; } /* '' */
.icon-list-1:before { content: '\e991'; } /* '' */
.icon-indent-left:before { content: '\e992'; } /* '' */
.icon-indent-right:before { content: '\e993'; } /* '' */
.icon-lifebuoy:before { content: '\e8bb'; } /* '' */
.icon-mouse:before { content: '\e8bc'; } /* '' */
.icon-dot:before { content: '\e8bf'; } /* '' */
.icon-dot-2:before { content: '\e8c0'; } /* '' */
.icon-dot-3:before { content: '\e8c1'; } /* '' */
.icon-off:before { content: '\e9a3'; } /* '' */
.icon-suitcase:before { content: '\e8be'; } /* '' */
.icon-road:before { content: '\e9a4'; } /* '' */
.icon-flow-cascade:before { content: '\e8da'; } /* '' */
.icon-list-alt:before { content: '\e9a5'; } /* '' */
.icon-flow-branch:before { content: '\e8db'; } /* '' */
.icon-qrcode:before { content: '\e9a6'; } /* '' */
.icon-flow-tree:before { content: '\e8dc'; } /* '' */
.icon-ajust:before { content: '\e9a8'; } /* '' */
.icon-flow-line:before { content: '\e8dd'; } /* '' */
.icon-tint:before { content: '\e9a9'; } /* '' */
.icon-flow-parallel:before { content: '\e8de'; } /* '' */
.icon-equalizer:before { content: '\e9fc'; } /* '' */
.icon-brush:before { content: '\e8c2'; } /* '' */
.icon-paper-plane:before { content: '\e8b9'; } /* '' */
.icon-magnet:before { content: '\e8c3'; } /* '' */
.icon-magnet-1:before { content: '\e9ad'; } /* '' */
.icon-chart-pie-1:before { content: '\e9fb'; } /* '' */
.icon-gauge:before { content: '\e8e0'; } /* '' */
.icon-traffic-cone:before { content: '\e8e1'; } /* '' */
.icon-chart-pie-alt:before { content: '\e9fa'; } /* '' */
.icon-basket-alt:before { content: '\ea06'; } /* '' */
.icon-mobile-alt:before { content: '\ea0c'; } /* '' */
.icon-tablet-1:before { content: '\ea0d'; } /* '' */
.icon-ipod:before { content: '\ea0e'; } /* '' */
.icon-easel:before { content: '\ea11'; } /* '' */
.icon-aboveground-rail:before { content: '\ea25'; } /* '' */
.icon-airfield:before { content: '\ea26'; } /* '' */
.icon-airport:before { content: '\ea27'; } /* '' */
.icon-art-gallery:before { content: '\ea28'; } /* '' */
.icon-bar:before { content: '\ea29'; } /* '' */
.icon-baseball:before { content: '\ea2a'; } /* '' */
.icon-basketball:before { content: '\ea2b'; } /* '' */
.icon-beer:before { content: '\ea2c'; } /* '' */
.icon-belowground-rail:before { content: '\ea2d'; } /* '' */
.icon-bicycle:before { content: '\ea2e'; } /* '' */
.icon-bus:before { content: '\ea2f'; } /* '' */
.icon-cafe:before { content: '\ea30'; } /* '' */
.icon-cinema:before { content: '\ea31'; } /* '' */
.icon-college:before { content: '\ea32'; } /* '' */
.icon-ferry:before { content: '\ea33'; } /* '' */
.icon-fire-station:before { content: '\ea34'; } /* '' */
.icon-football:before { content: '\ea35'; } /* '' */
.icon-fuel:before { content: '\ea36'; } /* '' */
.icon-garden:before { content: '\ea37'; } /* '' */
.icon-giraffe:before { content: '\ea38'; } /* '' */
.icon-golf:before { content: '\ea39'; } /* '' */
.icon-grocery-store:before { content: '\ea3a'; } /* '' */
.icon-harbor:before { content: '\ea3b'; } /* '' */
.icon-heliport:before { content: '\ea3c'; } /* '' */
.icon-lodging:before { content: '\ea3d'; } /* '' */
.icon-pitch:before { content: '\ea3e'; } /* '' */
.icon-police:before { content: '\ea3f'; } /* '' */
.icon-prison:before { content: '\ea40'; } /* '' */
.icon-rail:before { content: '\ea41'; } /* '' */
.icon-restaurant:before { content: '\ea42'; } /* '' */
.icon-school:before { content: '\ea43'; } /* '' */
.icon-shop:before { content: '\ea44'; } /* '' */
.icon-skiing:before { content: '\ea45'; } /* '' */
.icon-soccer:before { content: '\ea46'; } /* '' */
.icon-swimming:before { content: '\ea47'; } /* '' */
.icon-tennis:before { content: '\ea48'; } /* '' */
.icon-theatre:before { content: '\ea49'; } /* '' */
.icon-toilet:before { content: '\ea4a'; } /* '' */
.icon-town-hall:before { content: '\ea4b'; } /* '' */
.icon-trash-3:before { content: '\ea4c'; } /* '' */
.icon-tree-1:before { content: '\ea4d'; } /* '' */
.icon-tree-2:before { content: '\ea4e'; } /* '' */
.icon-warehouse:before { content: '\ea4f'; } /* '' */
.icon-firefox:before { content: '\e800'; } /* '' */
.icon-chrome:before { content: '\e801'; } /* '' */
.icon-opera:before { content: '\e802'; } /* '' */
.icon-ie:before { content: '\e803'; } /* '' */
.icon-hash:before { content: '\ea20'; } /* '' */
.icon-location-4:before { content: '\ea1c'; } /* '' */
.icon-bell-2:before { content: '\ea1b'; } /* '' */
.icon-movie:before { content: '\ea19'; } /* '' */
.icon-vector:before { content: '\ea1e'; } /* '' */
.icon-move:before { content: '\e96c'; } /* '' */
.icon-user-1:before { content: '\ea15'; } /* '' */
.icon-user-male:before { content: '\ea16'; } /* '' */
.icon-user-female:before { content: '\ea17'; } /* '' */
.icon-users-1:before { content: '\ea18'; } /* '' */
.icon-phone-squared:before { content: '\e955'; } /* '' */
.icon-github-circled-1:before { content: '\e9e0'; } /* '' */
.icon-rss-1:before { content: '\e952'; } /* '' */
.icon-certificate:before { content: '\e9b5'; } /* '' */
.icon-tasks:before { content: '\e9b6'; } /* '' */
.icon-filter:before { content: '\e9b7'; } /* '' */
.icon-resize-full-alt:before { content: '\e968'; } /* '' */
.icon-beaker:before { content: '\e9b8'; } /* '' */
.icon-menu-1:before { content: '\e956'; } /* '' */
.icon-list-bullet:before { content: '\e994'; } /* '' */
.icon-list-numbered:before { content: '\e995'; } /* '' */
.icon-strike:before { content: '\e996'; } /* '' */
.icon-underline:before { content: '\e997'; } /* '' */
.icon-table:before { content: '\e99a'; } /* '' */
.icon-magic:before { content: '\e9b9'; } /* '' */
.icon-gplus-squared:before { content: '\e9e1'; } /* '' */
.icon-money:before { content: '\e9bb'; } /* '' */
.icon-columns:before { content: '\e99b'; } /* '' */
.icon-sort:before { content: '\e9c4'; } /* '' */
.icon-sort-down:before { content: '\e9c5'; } /* '' */
.icon-sort-up:before { content: '\e9c6'; } /* '' */
.icon-mail-alt:before { content: '\e913'; } /* '' */
.icon-gauge-1:before { content: '\e9ce'; } /* '' */
.icon-comment-empty:before { content: '\e942'; } /* '' */
.icon-chat-empty:before { content: '\e943'; } /* '' */
.icon-sitemap:before { content: '\e9cf'; } /* '' */
.icon-paste:before { content: '\e99e'; } /* '' */
.icon-suitcase-1:before { content: '\e9a0'; } /* '' */
.icon-bell-alt:before { content: '\e945'; } /* '' */
.icon-coffee:before { content: '\e9d1'; } /* '' */
.icon-food:before { content: '\e9d2'; } /* '' */
.icon-doc-text:before { content: '\e94b'; } /* '' */
.icon-ambulance:before { content: '\e9d3'; } /* '' */
.icon-medkit:before { content: '\e9d4'; } /* '' */
.icon-fighter-jet:before { content: '\e987'; } /* '' */
.icon-plus-squared-1:before { content: '\e920'; } /* '' */
.icon-angle-double-left:before { content: '\e96f'; } /* '' */
.icon-angle-double-right:before { content: '\e970'; } /* '' */
.icon-angle-double-up:before { content: '\e971'; } /* '' */
.icon-angle-double-down:before { content: '\e972'; } /* '' */
.icon-desktop:before { content: '\e97c'; } /* '' */
.icon-laptop:before { content: '\e97d'; } /* '' */
.icon-tablet:before { content: '\e97e'; } /* '' */
.icon-mobile-1:before { content: '\e97f'; } /* '' */
.icon-quote-left:before { content: '\e936'; } /* '' */
.icon-quote-right:before { content: '\e937'; } /* '' */
.icon-spinner:before { content: '\e9d0'; } /* '' */
.icon-folder-open-empty:before { content: '\e950'; } /* '' */
.icon-plus-squared-small:before { content: '\e921'; } /* '' */
.icon-minus-squared-small:before { content: '\e926'; } /* '' */
.icon-gamepad:before { content: '\e93f'; } /* '' */
.icon-keyboard-1:before { content: '\e93e'; } /* '' */
.icon-flag-empty:before { content: '\e930'; } /* '' */
.icon-flag-checkered:before { content: '\e931'; } /* '' */
.icon-terminal:before { content: '\e9d6'; } /* '' */
.icon-code-1:before { content: '\e938'; } /* '' */
.icon-crop:before { content: '\e99c'; } /* '' */
.icon-fork:before { content: '\e9b2'; } /* '' */
.icon-unlink:before { content: '\e92b'; } /* '' */
.icon-help-1:before { content: '\e927'; } /* '' */
.icon-attention-alt:before { content: '\e946'; } /* '' */
.icon-superscript:before { content: '\e998'; } /* '' */
.icon-subscript:before { content: '\e999'; } /* '' */
.icon-puzzle:before { content: '\e9d7'; } /* '' */
.icon-mic-1:before { content: '\e95f'; } /* '' */
.icon-mute-1:before { content: '\e960'; } /* '' */
.icon-shield:before { content: '\e9d8'; } /* '' */
.icon-calendar-empty:before { content: '\e95c'; } /* '' */
.icon-extinguisher:before { content: '\e9d9'; } /* '' */
.icon-rocket-1:before { content: '\e9b3'; } /* '' */
.icon-html5:before { content: '\e9e2'; } /* '' */
.icon-css3:before { content: '\e9de'; } /* '' */
.icon-anchor:before { content: '\e9d5'; } /* '' */
.icon-ellipsis:before { content: '\e9a1'; } /* '' */
.icon-ellipsis-vert:before { content: '\e9a2'; } /* '' */
.icon-rss-squared:before { content: '\e953'; } /* '' */
.icon-minus-squared-1:before { content: '\e924'; } /* '' */
.icon-minus-squared-alt:before { content: '\e925'; } /* '' */
.icon-ok-squared:before { content: '\e91a'; } /* '' */
.icon-pencil-squared:before { content: '\e93c'; } /* '' */
.icon-export-alt:before { content: '\e93a'; } /* '' */
.icon-euro:before { content: '\e9bc'; } /* '' */
.icon-pound:before { content: '\e9bd'; } /* '' */
.icon-dollar:before { content: '\e9be'; } /* '' */
.icon-rupee:before { content: '\e9bf'; } /* '' */
.icon-yen:before { content: '\e9c0'; } /* '' */
.icon-renminbi:before { content: '\e9c1'; } /* '' */
.icon-won:before { content: '\e9c2'; } /* '' */
.icon-bitcoin:before { content: '\e9c3'; } /* '' */
.icon-doc-inv:before { content: '\e94c'; } /* '' */
.icon-doc-text-inv:before { content: '\e94d'; } /* '' */
.icon-sort-name-up:before { content: '\e9c9'; } /* '' */
.icon-sort-name-down:before { content: '\e9ca'; } /* '' */
.icon-sort-alt-up:before { content: '\e9c7'; } /* '' */
.icon-sort-alt-down:before { content: '\e9c8'; } /* '' */
.icon-sort-number-up:before { content: '\e9cb'; } /* '' */
.icon-sort-number-down:before { content: '\e9cc'; } /* '' */
.icon-thumbs-up-alt:before { content: '\e934'; } /* '' */
.icon-thumbs-down-alt:before { content: '\e935'; } /* '' */
.icon-youtube-squared:before { content: '\e9e5'; } /* '' */
.icon-youtube:before { content: '\e9e4'; } /* '' */
.icon-xing:before { content: '\e9e9'; } /* '' */
.icon-xing-squared:before { content: '\e9ea'; } /* '' */
.icon-dropbox-1:before { content: '\e9e7'; } /* '' */
.icon-stackoverflow:before { content: '\e9e3'; } /* '' */
.icon-bitbucket:before { content: '\e9dc'; } /* '' */
.icon-bitbucket-squared:before { content: '\e9dd'; } /* '' */
.icon-apple:before { content: '\e9db'; } /* '' */
.icon-windows:before { content: '\e9e8'; } /* '' */
.icon-android:before { content: '\e9da'; } /* '' */
.icon-linux:before { content: '\e9e6'; } /* '' */
.icon-female:before { content: '\e818'; } /* '' */
.icon-male:before { content: '\e817'; } /* '' */
.icon-sun:before { content: '\e981'; } /* '' */
.icon-moon-1:before { content: '\e984'; } /* '' */
.icon-box-1:before { content: '\e951'; } /* '' */
.icon-bug:before { content: '\e9b4'; } /* '' */
.icon-github-squared:before { content: '\e9df'; } /* '' */
.icon-github:before { content: '\e8e2'; } /* '' */
.icon-github-circled:before { content: '\e8e3'; } /* '' */
.icon-flickr:before { content: '\e8e4'; } /* '' */
.icon-icq:before { content: '\eaad'; } /* '' */
.icon-flickr-circled:before { content: '\e8e5'; } /* '' */
.icon-yandex:before { content: '\eaae'; } /* '' */
.icon-vimeo:before { content: '\e8e6'; } /* '' */
.icon-yandex-rect:before { content: '\eaaf'; } /* '' */
.icon-vimeo-circled:before { content: '\e8e7'; } /* '' */
.icon-github-text:before { content: '\eab4'; } /* '' */
.icon-twitter:before { content: '\e8e8'; } /* '' */
.icon-twitter-circled:before { content: '\e8e9'; } /* '' */
.icon-odnoklassniki:before { content: '\eab0'; } /* '' */
.icon-facebook:before { content: '\e8ea'; } /* '' */
.icon-facebook-circled:before { content: '\e8eb'; } /* '' */
.icon-odnoklassniki-rect:before { content: '\eab1'; } /* '' */
.icon-facebook-squared:before { content: '\e8ec'; } /* '' */
.icon-gplus:before { content: '\e8ed'; } /* '' */
.icon-gplus-circled:before { content: '\e8ee'; } /* '' */
.icon-friendfeed:before { content: '\eab2'; } /* '' */
.icon-pinterest:before { content: '\e8ef'; } /* '' */
.icon-pinterest-circled:before { content: '\e8f0'; } /* '' */
.icon-friendfeed-rect:before { content: '\eab3'; } /* '' */
.icon-tumblr:before { content: '\e8f1'; } /* '' */
.icon-tumblr-circled:before { content: '\e8f2'; } /* '' */
.icon-linkedin:before { content: '\e8f3'; } /* '' */
.icon-linkedin-circled:before { content: '\e8f4'; } /* '' */
.icon-dribbble:before { content: '\e8f5'; } /* '' */
.icon-dribbble-circled:before { content: '\e8f6'; } /* '' */
.icon-stumbleupon:before { content: '\e8f7'; } /* '' */
.icon-stumbleupon-circled:before { content: '\e8f8'; } /* '' */
.icon-lastfm:before { content: '\e8f9'; } /* '' */
.icon-lastfm-circled:before { content: '\e8fa'; } /* '' */
.icon-rdio:before { content: '\e8fb'; } /* '' */
.icon-rdio-circled:before { content: '\e8fc'; } /* '' */
.icon-spotify:before { content: '\e8fd'; } /* '' */
.icon-spotify-circled:before { content: '\e8fe'; } /* '' */
.icon-qq:before { content: '\e8ff'; } /* '' */
.icon-instagram:before { content: '\e900'; } /* '' */
.icon-dropbox:before { content: '\e901'; } /* '' */
.icon-evernote:before { content: '\e902'; } /* '' */
.icon-flattr:before { content: '\e903'; } /* '' */
.icon-skype:before { content: '\e904'; } /* '' */
.icon-skype-circled:before { content: '\e905'; } /* '' */
.icon-renren:before { content: '\e906'; } /* '' */
.icon-sina-weibo:before { content: '\e907'; } /* '' */
.icon-paypal:before { content: '\e908'; } /* '' */
.icon-picasa:before { content: '\e909'; } /* '' */
.icon-soundcloud:before { content: '\e90a'; } /* '' */
.icon-mixi:before { content: '\e90b'; } /* '' */
.icon-behance:before { content: '\e90c'; } /* '' */
.icon-google-circles:before { content: '\e90d'; } /* '' */
.icon-vkontakte:before { content: '\e90e'; } /* '' */
.icon-smashing:before { content: '\e90f'; } /* '' */
.icon-spread:before { content: '\ea23'; } /* '' */
.icon-picture-1:before { content: '\e81b'; } /* '' */
.icon-picture:before { content: '\e811'; } /* '' */
.icon-globe-1:before { content: '\e980'; } /* '' */
.icon-globe:before { content: '\e8b3'; } /* '' */
.icon-globe-2:before { content: '\ea12'; } /* '' */
.icon-leaf:before { content: '\e8ba'; } /* '' */
.icon-glass:before { content: '\e804'; } /* '' */
.icon-gift:before { content: '\e9ab'; } /* '' */
.icon-graduation-cap:before { content: '\e8cb'; } /* '' */
.icon-mic:before { content: '\e862'; } /* '' */
.icon-videocam:before { content: '\e81a'; } /* '' */
.icon-videocam-1:before { content: '\e9ff'; } /* '' */
.icon-headphones:before { content: '\e964'; } /* '' */
.icon-palette:before { content: '\e910'; } /* '' */
.icon-ticket:before { content: '\e8cd'; } /* '' */
.icon-video:before { content: '\e810'; } /* '' */
.icon-video-1:before { content: '\e819'; } /* '' */
.icon-target:before { content: '\e8a6'; } /* '' */
.icon-trophy:before { content: '\e8aa'; } /* '' */
.icon-award:before { content: '\e97b'; } /* '' */
.icon-award-1:before { content: '\ea0a'; } /* '' */
.icon-videocam-alt:before { content: '\ea00'; } /* '' */
.icon-thumbs-up-1:before { content: '\e932'; } /* '' */
.icon-thumbs-up:before { content: '\e836'; } /* '' */
.icon-thumbs-down:before { content: '\e837'; } /* '' */
.icon-thumbs-down-1:before { content: '\e933'; } /* '' */
.icon-bag:before { content: '\e85e'; } /* '' */
.icon-user:before { content: '\e80d'; } /* '' */
.icon-users:before { content: '\e80e'; } /* '' */
.icon-lamp:before { content: '\e867'; } /* '' */
.icon-alert:before { content: '\e84a'; } /* '' */
.icon-water:before { content: '\e8ce'; } /* '' */
.icon-droplet:before { content: '\e8cf'; } /* '' */
.icon-credit-card:before { content: '\e8d1'; } /* '' */
.icon-monitor:before { content: '\e8ad'; } /* '' */
.icon-briefcase:before { content: '\e8bd'; } /* '' */
.icon-briefcase-1:before { content: '\e99f'; } /* '' */
.icon-floppy-1:before { content: '\e9af'; } /* '' */
.icon-floppy:before { content: '\e8d2'; } /* '' */
.icon-cd:before { content: '\e8b0'; } /* '' */
.icon-cd-1:before { content: '\ea0f'; } /* '' */
.icon-folder:before { content: '\e853'; } /* '' */
.icon-folder-1:before { content: '\e94e'; } /* '' */
.icon-folder-open:before { content: '\e94f'; } /* '' */
.icon-calendar-2:before { content: '\ea07'; } /* '' */
.icon-calendar-1:before { content: '\e95b'; } /* '' */
.icon-calendar:before { content: '\e85f'; } /* '' */
.icon-chart-line:before { content: '\e8c7'; } /* '' */
.icon-chart-bar:before { content: '\e8c8'; } /* '' */
.icon-chart-bar-1:before { content: '\e9ae'; } /* '' */
.icon-clipboard:before { content: '\e8d3'; } /* '' */
.icon-pin:before { content: '\e92c'; } /* '' */
.icon-attach:before { content: '\e82e'; } /* '' */
.icon-bookmarks:before { content: '\e834'; } /* '' */
.icon-book-1:before { content: '\e9a7'; } /* '' */
.icon-book:before { content: '\e856'; } /* '' */
.icon-phone:before { content: '\e858'; } /* '' */
.icon-phone-1:before { content: '\e954'; } /* '' */
.icon-bullhorn:before { content: '\ea08'; } /* '' */
.icon-megaphone:before { content: '\e8d4'; } /* '' */
.icon-megaphone-1:before { content: '\e9b0'; } /* '' */
.icon-upload:before { content: '\e839'; } /* '' */
.icon-download:before { content: '\e838'; } /* '' */
.icon-box:before { content: '\e855'; } /* '' */
.icon-mobile:before { content: '\e8ae'; } /* '' */
.icon-mobile-2:before { content: '\ea0b'; } /* '' */
.icon-signal-1:before { content: '\e97a'; } /* '' */
.icon-signal:before { content: '\e8a9'; } /* '' */
.icon-camera:before { content: '\e812'; } /* '' */
.icon-camera-1:before { content: '\e81c'; } /* '' */
.icon-camera-2:before { content: '\ea01'; } /* '' */
.icon-shuffle:before { content: '\e897'; } /* '' */
.icon-loop:before { content: '\e898'; } /* '' */
.icon-arrows-ccw:before { content: '\e894'; } /* '' */
.icon-light-down:before { content: '\e868'; } /* '' */
.icon-light-up:before { content: '\e869'; } /* '' */
.icon-volume-off:before { content: '\e961'; } /* '' */
.icon-mute:before { content: '\e863'; } /* '' */
.icon-volume-down:before { content: '\e962'; } /* '' */
.icon-volume-up:before { content: '\e963'; } /* '' */
.icon-sound:before { content: '\e864'; } /* '' */
.icon-battery:before { content: '\e8ab'; } /* '' */
.icon-search:before { content: '\e807'; } /* '' */
.icon-key-1:before { content: '\e9b1'; } /* '' */
.icon-key:before { content: '\e8d9'; } /* '' */
.icon-key-inv:before { content: '\e9f8'; } /* '' */
.icon-lock:before { content: '\e82f'; } /* '' */
.icon-lock-open:before { content: '\e830'; } /* '' */
.icon-bell:before { content: '\e848'; } /* '' */
.icon-bell-1:before { content: '\e944'; } /* '' */
.icon-bookmark:before { content: '\e833'; } /* '' */
.icon-link-1:before { content: '\e92a'; } /* '' */
.icon-link:before { content: '\e82d'; } /* '' */
.icon-back:before { content: '\e82b'; } /* '' */
.icon-fire:before { content: '\e9ac'; } /* '' */
.icon-flashlight:before { content: '\e808'; } /* '' */
.icon-wrench:before { content: '\e959'; } /* '' */
.icon-hammer:before { content: '\e9cd'; } /* '' */
.icon-chart-area:before { content: '\e8c9'; } /* '' */
.icon-clock-2:before { content: '\ea09'; } /* '' */
.icon-clock:before { content: '\e865'; } /* '' */
.icon-clock-1:before { content: '\e965'; } /* '' */
.icon-rocket:before { content: '\e8df'; } /* '' */
.icon-truck:before { content: '\e9ba'; } /* '' */
.icon-block-1:before { content: '\e966'; } /* '' */
.icon-block:before { content: '\e86b'; } /* '' */