@font-face {
  font-family: 'Pt-Sans';
  src: url('/fonts/PTS55F-webfont.eot');
  src: url('/fonts/PTS55F-webfont.eot?#iefix') format('embedded-opentype'),
  url('/fonts/PTS55F-webfont.woff') format('woff'),
  url('/fonts/PTS55F-webfont.ttf') format('truetype'),
  url('/fonts/PTS55F-webfont.svg#pt_sansregular') format('svg');
  font-weight: normal;
  font-style: normal;

}
@font-face {
  font-family: 'Pt-Sans-Bold';
  src: url('/fonts/PTS75F-webfont.eot');
  src: url('/fonts/PTS75F-webfont.eot?#iefix') format('embedded-opentype'),
  url('/fonts/PTS75F-webfont.woff') format('woff'),
  url('/fonts/PTS75F-webfont.ttf') format('truetype'),
  url('/fonts/PTS75F-webfont.svg#pt_sansbold') format('svg');
  font-weight: normal;
  font-style: normal;

}
@font-face {
  font-family: 'Pt-Sans-Bold-Italic';
  src: url('/fonts/PTS76F-webfont.eot');
  src: url('/fonts/PTS76F-webfont.eot?#iefix') format('embedded-opentype'),
  url('/fonts/PTS76F-webfont.woff') format('woff'),
  url('/fonts/PTS76F-webfont.ttf') format('truetype'),
  url('/fonts/PTS76F-webfont.svg#pt_sansbold_italic') format('svg');
  font-weight: normal;
  font-style: normal;

}
@font-face {
  font-family: 'Pt-Sans-Italic';
  src: url('/fonts/PTS56F-webfont.eot');
  src: url('/fonts/PTS56F-webfont.eot?#iefix') format('embedded-opentype'),
  url('/fonts/PTS56F-webfont.woff') format('woff'),
  url('/fonts/PTS56F-webfont.ttf') format('truetype'),
  url('/fonts/PTS56F-webfont.svg#pt_sansitalic') format('svg');
  font-weight: normal;
  font-style: normal;

}