@charset "utf-8";
/*
/*	Copyright 2013. MYPASSION.
/*

/**************************************************/
/*	LIST OF SECTION :
		00) BASE
		01) HEADER & SLIDER & LOGO & NAV
		02) CONTENT
		03) BREADCRUMBS
		04) TIMELINE
		05) BLOG
		06) MASONRY
		07) GRID POST
		08) ISOTOPE FILTERING
		09) COMMENTS
		10) FEATURES
		11) PAGINATION
		12) SIDEBAR
		13) CHART
		14) HOME SERVICE 1
		15) STUNNING TEXT
		16) PORTFOLIO
		17) HOME PORTFOLIO
		18) HOME PORTFOLIO 2
		19) TEAM MEMBERS
		20) BUTTONS
		21) UI ELEMENTS
		22) SKILLS
		23) PARALLAX
		24) HOME BLOG
		25) PRICING TABLES
		26) CLIENTS
		27) FOOTER
			a) flickr
			b) twitter
		28) SMALL DEVICES
/**************************************************/

/*------------------------------------------------------------------*/
/*	0) BASE
/*------------------------------------------------------------------*/
html {
  overflow-x:hidden;
  padding: 0 !important;
  background:#fff;
  margin:0px !important;
}
.body-wrapper{
  width:100%;
  margin:0;
  padding:0;
  float:left;
  z-index:9999;
  position:relative;
  height:auto;
}
#header, #content, #footer, #upper-section{
  width:100%;
  /*width:1250px;*/
  margin:0 auto;
  border-left:1px solid #eee;
  border-right:1px solid #eee;
}

#toTop {
  display:block;
  text-decoration:none;
  position:fixed;
  bottom:10px;
  right:30px;
  overflow:hidden;
  width:35px;
  height:35px;
  border:none;
  text-indent:100%;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  background:#9a1e21 image-url('ui.totop.png') no-repeat center;
  z-index:99999999999;
  border:1px solid;
  *border: 0;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  *zoom: 1;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), 0 1px 3px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), 0 1px 3px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), 0 1px 3px rgba(0, 0, 0, 0.1);

  -webkit-transition: background-color .3s ease, border .3s ease, color .3s ease, opacity .3s ease-in-out;
  -moz-transition: background-color .3s ease, border .3s ease, color .3s ease, opacity .3s ease-in-out;
  -ms-transition: background-color .3s ease, border .3s ease, color .3s ease, opacity .3s ease-in-out;
  -o-transition: background-color .3s ease, border .3s ease, color .3s ease, opacity .3s ease-in-out;
  transition: background-color .3s ease, border .3s ease, color .3s ease, opacity .3s ease-in-out;
}
#toTop:hover{
  background-color:#3c4852;
}

#toTopHover {
  background:image-url('ui.totop.png') no-repeat left -51px;
  width:51px;
  height:51px;
  overflow:hidden;
  float:left;
  opacity: 0;
  -moz-opacity: 0;
  filter:alpha(opacity=0);
}


/*------------------------------------------------------------------*/
/*	1) HEADER & SLIDER & LOGO & NAV
/*------------------------------------------------------------------*/


.topbar{
  background:#FFF;
  height:auto;
  width:100%;
  /*width:1250px;*/
  padding:0;
  position:relative;
  display:block;
  z-index:99999999;
  -moz-box-shadow: 0px 1px 2px rgba(0,0,0,0.2);
  -webkit-box-shadow: 0px 1px 2px rgba(0,0,0,0.2);
  box-shadow: 0px 1px 2px rgba(0,0,0,0.2);
}
.logo{
  width:300px;
  float:left;
  margin:30px 0;
  width:270px;
}
.logo img{
  max-width:100%;
}
#nav{
  width:670px;
  float:right;
  position:relative;
}
#nav>ul{
  list-style-type:none;
  width:auto;
  text-align:right;
  margin:30px 50px 30px 0;
  float:right;
}
#nav>ul>li{
  display:inline-table;
  margin:0;
}
#nav>ul>li>a{
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
#nav ul li a{
  color:#3c4852;
  font-size:13px;
  font-weight:normal;
  padding:5px 15px;
  text-align:left;
}
#nav ul li.current>a{
  background:#9a1e21;
  color:#FFF;
}
#nav>ul>li>a:hover{
  background:#9a1e21;
  color:#FFF;
}
#nav>ul>li.sfHover>a{
  background:#9a1e21;
  color:#FFF;
}
#nav ul li ul{
  border:1px solid #353535;
  background:#3c4852;
}
#nav ul li li a:hover, .sf-menu li li.sfHover>a{
  background:#9a1e21;
}
#nav ul li li a{
  border-bottom: 1px solid #242C32;
  border-top: 1px solid #546370;
  padding:8px 15px;
  color:#FFF;
}
#nav ul li li:nth-last-child(1)>a{
  border-bottom:none;
  &:hover{
    border-bottom-left-radius: 16px;
  }
}
#nav ul li li:nth-child(1)>a{
  border-top:none;
  &:hover{
    border-top-right-radius: 16px;
  }
}

.search-include{
  float:right;
  width:30px;
  margin:30px 0;
  position:relative;
}
.search-include .search-button{
  top:0;
}
.search-include .popup-search{
  top:40px;
  width:300px;
}

/* MOBILE MENU */
.nav-toggle{
  width:40px;
  height:30px;
  float:right;
  margin:30px 0;
  display:none;
}
.nav-toggle a{
  background:image-url('navtoggle.png') no-repeat center;
  height:30px;
  display:block;
  width:40px;
  background-color:#9a1e21;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  outline:none;
}
.mobile-menu{
  display:none;
  width:100%;
  clear:both;
}
.mobile-menu-inner{
  display:none;
}
.mobile-menu ul{
  list-style-type:none;
  clear:both;
  margin:0;
  overflow:hidden;
}
.mobile-menu ul li{
  display:block;
  float:left;
  clear:both;
  width:100%;
  background:#3C4852;
  text-transform:capitalize;
}
.mobile-menu ul li a{
  width:100%;
  padding:10px;
  display:block;
  border-bottom: 1px solid #242C32;
  border-top: 1px solid #546370;
  color:#FFFFFF;
}
.mobile-menu ul li a:hover{
  background:#546370;
  border-bottom: 1px solid #546370;
}

.mobile-menu ul li li a{
  padding-left:30px;
}
.mobile-menu ul li li li a{
  padding-left:50px;
}
.mobile-menu ul li li li li a{
  padding-left:70px;
}
.mobile-menu ul li li li li li a{
  padding-left:90px;
}
.mobile-menu ul li a i{
  margin-right:15px;
}
.head-slider{
  //background:#f5f5f5;
  height:auto;
  width:100%;
  background-image: linear-gradient(bottom, rgb(255,255,255) 85%, rgb(245,245,245) 99%);
  background-image: -o-linear-gradient(bottom, rgb(255,255,255) 85%, rgb(245,245,245) 99%);
  background-image: -moz-linear-gradient(bottom, rgb(255,255,255) 85%, rgb(245,245,245) 99%);
  background-image: -webkit-linear-gradient(bottom, rgb(255,255,255) 85%, rgb(245,245,245) 99%);
  background-image: -ms-linear-gradient(bottom, rgb(255,255,255) 85%, rgb(245,245,245) 99%);

  background-image: -webkit-gradient(
      linear,
      left bottom,
      left top,
      color-stop(0.85, rgb(255,255,255)),
      color-stop(0.99, rgb(245,245,245))
  );

}

/* :: HEADER 2 :: */
.topbar-2{
  background:#FFF;
  height:auto;
  width:100%;
  padding:0;
  position:relative;
  display:block;
  z-index:999999999;
  border-bottom:1px solid #eee;
}
.topbar-2 .logo{
  padding:30px 0;
  margin:10px 0 0 0;
}
.social-icons{
  width:auto;
  float:right;
  padding:30px 0 20px 0;
}
.social-icons .social-list{
  float:right;
}
.nav-wrap{
  width:100%;
  /*width:1250px;*/
  background:#FFF;
  position:relative;
  min-height:45px;
  display:block;
  z-index:99999999;
  -moz-box-shadow: 0px 1px 2px rgba(0,0,0,0.2);
  -webkit-box-shadow: 0px 1px 2px rgba(0,0,0,0.2);
  box-shadow: 0px 1px 2px rgba(0,0,0,0.2);
}
.nav-wrap #nav{
  width:100%;
  position:relative;
}
.nav-wrap #nav > ul{
  text-align:left;
  margin:10px 30px 10px 0;
  width:auto;
  float:left;
}
.nav-wrap .nav-toggle{
  width:40px;
  height:30px;
  float:left;
  margin:10px 0;
}

.search-button{
  float:right;
  top:10px;
  right:10px;
  position:absolute;
  text-align:right;
}
.search-button a{
  font-size:18px;
  color:#3c4852;
}
.search-button a:hover{
  color:#3c4852;
}
.popup-search{
  text-align:center;
  padding:15px;
  background:#FFFFFF;
  display:none;
  position:absolute;
  top:50px;
  right:0;
  border:1px solid #ddd;
}
.popup-search form, .popup-search form input{
  margin:0;
}
.popup-search input.ft{
  width:200px;
  border:1px solid #eee;
  padding:5px 15px;
}
.popup-search input.ft:focus{
  box-shadow:none;
  border-color:#ddd;
}
.popup-search input.fs{
  background:#9a1e21 image-url('search.png') no-repeat center;
  padding:7px 20px 6px 20px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  height:30px;
  width:50px;
}
/* :: HEADER 3 :: */
.topbar-3 .logo{
  width:100%;
  text-align:center;
}
.simple-search form, .simple-search form input{
  margin:0;
}
.simple-search{
  width:100%;
  text-align:center;
  margin-bottom:30px;
}
.simple-search input.ft{
  width:200px;
  border:1px solid #eee;
  padding:5px 15px;
}
.simple-search input.ft:focus{
  box-shadow:none;
  border-color:#ddd;
}
.simple-search input.fs{
  background:#9a1e21 image-url('search.png') no-repeat center;
  padding:7px 20px 6px 20px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  height:30px;
  width:50px;
}
.nav-wrap.nav-center #nav > ul {
  text-align:center;
  width:100%;
  float:none;
  margin-right:0;
}
.nav-wrap.nav-center .nav-toggle{
  width:100%;
  text-align:center;
  float:none;
}
.nav-wrap.nav-center .nav-toggle a{
  margin-left:47%;
}


/* :: UPPER SECTION :: */
#upper-section p{
  margin:10px 0;
  font-size:11px;
  font-weight:normal;
}
#upper-section p a{
  color:#888;
  font-weight:normal;
}
#upper-section p a:hover{
  text-decoration:underline;
}
.mini-nav{
  list-style-type:none;
  margin:11px 0;
  padding:0;
  float:right;
}
.mini-nav li{
  font-size:11px;
  float:left;
  border-left:1px solid #ccc;
  line-height:1;
  padding:0 10px;
}
.mini-nav li a{
  color:#888;
  font-weight:normal;
}
.mini-nav li a:hover{
  text-decoration:underline;
}


/* :: SLIDER :: */
.fullwidthbanner-container{
  width:100% !important;
  position:relative;
  padding:0;
  max-height:500px !important;
  overflow:hidden;
}
.fullwidthbanner{
  max-height:500px;
}
.tp-caption.mypassion-title{
  font-size:44px;
  font-family:Myriad Pro;
  line-height:50px;
}
.tp-caption.mypassion-title-caption-large{
  font-size:34px;
  font-family:Myriad Pro;
  line-height:50px;
  background:#9a1e21;
  padding:10px 20px;
  color:#FFF;
  line-height:1;
}
.tp-caption.mypassion-title-caption-small{
  font-size:18px;
  font-family:Myriad Pro;
  line-height:50px;
  background:#9a1e21;
  padding:10px 20px;
  color:#FFF;
  line-height:1;
}
.tp-caption.grey_text{
  font-size:24px;
  color:#3c4852;
}
.tp-caption.mypassion-themecolor-fixedwidth{
  font-size:18px;
  font-family:Myriad Pro;
  line-height:50px;
  background:#9a1e21;
  padding:10px 20px;
  color:#FFF;
  line-height:1;
  width:350px;
  text-align:left;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
.tp-caption.mypassion-greycolor-fixedwidth{
  font-size:18px;
  font-family:Myriad Pro;
  line-height:50px;
  background:#f5f5f5;
  padding:10px 20px;
  color:#3c4852;
  line-height:1;
  width:350px;
  text-align:left;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
.mypassion-greycolor-fixedwidth i{
  margin-right:10px;
  font-size:15px;
  color:#9a1e21;
}


/*------------------------------------------------------------------*/
/*	2) CONTENT
/*------------------------------------------------------------------*/
.blockwhite{
  background:#FFF;
  width:100%;
}
.blockgrey{
  background:#fafafa;
  width:100%;
}
.fullblock{
  width:100%;
  margin:0 auto;
  clear:both;
  border-bottom:1px solid #eee;

}
.padding50{
  padding:50px 0;
}
.padding40{
  padding:40px 0;
}
.padding30{
  padding:30px 0;
}
.padding20{
  padding:20px 0;
}
.padding10{
  padding:10px 0;
}
.entrytitle{
  background:image-url('title.png') no-repeat center bottom;
  padding-bottom:25px;
  margin-bottom:30px;
  text-align:center;
}
.entrytitle h4{
  margin-bottom:5px;
  font-size:22px;
  text-transform:uppercase;
}
.entrytitle p{
  font-family:Georgia, "Times New Roman", Times, serif;
  font-size:12px;
  font-style:italic;
  margin:0;
}
span{
  color:#bbb;
}
h1.upper-title{
  font-size:16px;
  margin-bottom:20px;
  line-height:1;
  position:relative;
  text-transform:uppercase;
}
h1.upper-title span{}
h1.upper-title span{

}
h1.upper-title span{
  width:auto;
  padding-right:30px;
}

/*------------------------------------------------------------------*/
/*	3) BREADCRUMBS
/*------------------------------------------------------------------*/
.breadcrumbs h1{
  margin:0;
  font-size:25px;
  font-weight:normal;
  font-family: 'Pt-Sans', Arial, Helvetica, sans-serif;
}
.breadcrumbs p{
  font-size:11px;
  text-align:right;
  margin:10px 0 0 0;
}
.breadcrumbs p a{
  color:#3c4852;
}
.breadcrumbs p a:hover{
  text-decoration:underline;
}


/*------------------------------------------------------------------*/
/*	4) TIMELINE
/*------------------------------------------------------------------*/
.timeline-with{
  width:800px;
  margin:0 auto;
}
.timeline-head{
  text-align:center;
  height:70px;
}
.timeline-head i{
  font-size:64px;
  color:#eee;
  width:100%;
}
.timeline{
  width:100%;
  list-style-type:none;
  margin:0;
  padding:40px 0 40px 0;
  overflow:hidden;
  position:relative;
}
.timeline:before{
  background:#eee;
  bottom: 0;
  content: "";
  height: 9999px;
  left: 50%;
  margin-left: -1px;
  margin-top: -10px;
  position: absolute;
  top: 10px;
  width: 2px;
}
.timeline li{
  width:50%;
  margin-bottom:50px;
  padding-right:30px;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}
.timeline li:nth-child(2n-1){
  float:left;
  padding-right:30px;
  clear:left;
}
.timeline li:nth-child(2n){
  float:right;
  padding-left:30px;
  clear:right;
  padding-right:0px;
  margin-top:30px;
}
.timeline li:nth-child(2){

}

.timeline-post{
  position:relative;
  display:block;
}
.timeline-post-wrap{
  background:#fafafa;
  clear:both;
  padding-bottom:30px;
  border:1px solid #ddd;
  border-bottom-color:#f5f5f5;
  -moz-box-shadow: 0px 3px 0px rgba(0,0,0,0.2), 0 0 20px rgba(0, 0, 0, 0.1) inset;
  -webkit-box-shadow: 0px 3px 0px rgba(0,0,0,0.2), 0 0 20px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0px 3px 0px rgba(0,0,0,0.2), 0 0 20px rgba(0, 0, 0, 0.1) inset;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
  -webkit-border-radius: 0 0 4px 4px;
  -moz-border-radius: 0 0 4px 4px;
  border-radius:0 0 4px 4px;
}
.timeline-post-wrap h1, .timeline-post-wrap p, .timeline-meta{
  margin-right:20px;
  margin-left:20px;
}
.post-type{
  margin:0 0 20px 0;
}

.blog-post-wrap .post-title, .project-single .post-title{
  font-size:20px;
}
.post-title{
  font-size:14px;
  margin-bottom:20px;
}
.post-title a{
  color:#3c4852;
}
.post-title a:hover{
  color:#9a1e21;
}
.more{
  color:#3c4852;
  font-size:12px;
}
.more:hover{
  color:#9a1e21;
}
.timeline-comments{
  float:right;
  font-size:12px;
  color:#3C4852;
}
.timeline-comments:hover{
  color:#9a1e21;
}
.timeline li .timeline-dot{
  border: 4px solid #eee;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius:8px;
  content: "";
  display: block;
  height: 8px;
  position: absolute;
  right: -38px;
  top:2px;
  width: 8px;
  background:#9a1e21;
}
.timeline li:nth-child(2n) .timeline-dot{
  left: -38px;
}
.timeline li:nth-child(2n-1) .timeline-dot {
  right: -38px;
}
.timeline-date span{
  padding:5px 15px;
  background:#eee;
  color:#3C4852;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  margin-right:0;
  font-size:12px;
}
.timeline-date span:after{
  bottom: -16px;
  border: solid transparent;
  content: "";
  height: 0;
  width: 0;
  position: absolute;
  border-top-color: #eee;
  border-width: 7px;
  right: 5%;
  margin: 0;

}
.timeline-date{
  width:auto;
  text-align:right;
  margin-bottom:20px;
  position:relative;
}
.timeline li:nth-child(2n-1) .timeline-date{
  float:right;
  clear:both;
  text-align:right;
  margin-bottom:20px;
}
.timeline li:nth-child(2n) .timeline-date{
  float:left;
  clear:both;
  text-align:left;
  margin-bottom:20px;

}
.timeline li:nth-child(2n-1) .timeline-date span:after{
  right: 10%;
}
.timeline li:nth-child(2n) .timeline-date span:after{
  right: auto;
  left: 10%;
}
.timeline-nav {
  margin-top:-50px;
  z-index:9999;
  position:relative;
}
.timeline-nav .timeline-dot{
  border: 4px solid #eee;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius:8px;
  content: "";
  display: block;
  height: 8px;
  position: absolute;
  left: 392px;
  top:7px;
  width: 8px;
  background:#9a1e21;
}
.timeline-nav ul{
  list-style-type:none;
  width:100%;
  margin:0;
  padding:0;
  text-align:center;
}
.timeline-nav ul li{
  float:left;
  text-align:left;
  width:50%;
  padding:0 30px;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}
.timeline-nav ul li.right-nav{
  float:right;
}
.timeline-nav ul li.left-nav a{
  float:right;
}
.timeline-nav ul li a i{
  margin-left:-3px;
}
.timeline-nav ul li a{
  width:30px;
  height:30px;
  display:block;
  color:#FFF;
  background-color:#666;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  margin:0;
  padding:5px 0 0 0;
  text-align:center;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}
.timeline-nav ul li a:hover{
  background:#9a1e21;
}

/*------------------------------------------------------------------*/
/*	5) BLOG
/*------------------------------------------------------------------*/
.blog-post-wrap{
  padding-bottom:30px;
  margin-bottom:50px;
  background:image-url('title.png') no-repeat bottom;
  float:left;
  clear:both;
  width:100%;
}
.post-meta{
  width:100%;
  margin-bottom:20px;
  position:relative;
  border-bottom:1px solid #eee;
  border-top:1px solid #eee;
  padding:0;
}
.post-meta p{
  margin-bottom:0;
  font-size:12px;
  padding:5px 0;
  color:#ddd;
}
.post-meta p a{
  color:#3c4852;
}
.post-meta p a:hover{
  text-decoration:underline;
  color:#9a1e21;
}
.post-meta p span{
  padding-right:15px;
  padding-left:15px;
  color:#999;
}
.post-meta p span:nth-child(1){
  padding-left:0;
}
.post-type-icon-2{
  font-size:14px;
}
.post-meta p .post-type-icon-2{
  padding-left:0;
}
.post-type-icon-2 a i{
  width:30px;
  text-align:center;
}
.like-box{
  float:left;
  margin:5px 30px 15px 0;
  text-align:center;
}

.like-3{
  background:#9a1e21;
  color:#FFF;
  padding:7px 12px 7px 10px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  position:relative;
}
.like-3:hover{
  color:#FFF;
  background:#3c4852;
}
.like-3 i{
  margin-right:4px;
  padding:0;
  line-height:1;
}
.like-count{
  background:#eee;
  margin:20px 0 0 0;
  clear:both;
  padding:5px 12px 5px 10px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  display:inline-table;
  position:relative;
  color:#888;
}
.like-3:after{
  bottom: -16px;
  border: solid transparent;
  content: "";
  height: 0;
  width: 0;
  position: absolute;
  border-bottom-color: #eee;
  border-width: 10px;
  left: 36%;
  margin: 0;

}

ul.sharebox {
  list-style-type:none;
  width:100%;
  margin:10px 0 0 0;
  padding:0;
  float:left;
}
ul.sharebox li{
  float:right;
  margin-left:5px;
  font-size:11px;
}
ul.sharebox li span{
  color:#888;
}
ul.sharebox li a{
  color:#888;
  border:1px solid #dbdbdb;
  padding:5px 15px 2px 10px;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#f0f0f0)); /* Safari 4-5, Chrome 1-9 */
  background: -webkit-linear-gradient(top, #fff, #f0f0f0);/* Safari 5.1, Chrome 10+ */
  background: -moz-linear-gradient(top, #fff, #f0f0f0); /* Firefox 3.6+ */
  background: -ms-linear-gradient(top, #fff, #f0f0f0); /* IE 10 */
  background: -o-linear-gradient(top, #fff, #f0f0f0);/* Opera 11.10+ */
  background-color:#f0f0f0;
}
ul.sharebox li a:hover{
  text-decoration:none;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f0f0f0), to(#fff)); /* Safari 4-5, Chrome 1-9 */
  background: -webkit-linear-gradient(top, #f0f0f0, #fff);/* Safari 5.1, Chrome 10+ */
  background: -moz-linear-gradient(top, #f0f0f0, #fff); /* Firefox 3.6+ */
  background: -ms-linear-gradient(top, #f0f0f0, #fff); /* IE 10 */
  background: -o-linear-gradient(top, #f0f0f0, #fff);/* Opera 11.10+ */
  background-color:#fff;
}
ul.sharebox li span.facebook{
  background:image-url('share-f.png') no-repeat left center;
  padding:2px 0 0 20px;
}
ul.sharebox li span.pinterest{
  background:image-url('share-p.png') no-repeat left center;
  padding:2px 0 0 20px;
}
ul.sharebox li span.twitter{
  background:image-url('share-t.png') no-repeat left center;
  padding:2px 0 0 20px;
}


/*------------------------------------------------------------------*/
/*	6) MASONRY
/*------------------------------------------------------------------*/
.masonry-wrap-4columns .masonry{
  background:#fafafa;
  padding-bottom:10px;
  border:1px solid #ddd;
  border-bottom-color:#f5f5f5;
  -moz-box-shadow: 0px 3px 0px rgba(0,0,0,0.2), 0 0 20px rgba(0, 0, 0, 0.1) inset;
  -webkit-box-shadow: 0px 3px 0px rgba(0,0,0,0.2), 0 0 20px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0px 3px 0px rgba(0,0,0,0.2), 0 0 20px rgba(0, 0, 0, 0.1) inset;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
  -webkit-border-radius: 0 0 4px 4px;
  -moz-border-radius: 0 0 4px 4px;
  border-radius:0 0 4px 4px;
  margin-bottom:30px;
  width:270px;
}
.masonry-wrap-3columns{
  width:100%;
  margin-left:30px;
}
.masonry-wrap-3columns .masonry{
  background:#fafafa;
  padding-bottom:10px;
  border:1px solid #ddd;
  border-bottom-color:#f5f5f5;
  -moz-box-shadow: 0px 3px 0px rgba(0,0,0,0.2), 0 0 20px rgba(0, 0, 0, 0.1) inset;
  -webkit-box-shadow: 0px 3px 0px rgba(0,0,0,0.2), 0 0 20px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0px 3px 0px rgba(0,0,0,0.2), 0 0 20px rgba(0, 0, 0, 0.1) inset;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
  -webkit-border-radius: 0 0 4px 4px;
  -moz-border-radius: 0 0 4px 4px;
  border-radius:0 0 4px 4px;
  margin-bottom:30px;
  width:370px;
}
.masonry-wrap-4columns{
  width:100%;
  margin-left:30px;
}
.masonry-post-wrap{
  margin:10px;
}

/*------------------------------------------------------------------*/
/*	7) GRID POST
/*------------------------------------------------------------------*/
.grid-wrap-4columns .grid-post{
  background:#fafafa;
  padding-bottom:10px;
  border:1px solid #ddd;
  border-bottom-color:#f5f5f5;
  -moz-box-shadow: 0px 3px 0px rgba(0,0,0,0.2), 0 0 20px rgba(0, 0, 0, 0.1) inset;
  -webkit-box-shadow: 0px 3px 0px rgba(0,0,0,0.2), 0 0 20px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0px 3px 0px rgba(0,0,0,0.2), 0 0 20px rgba(0, 0, 0, 0.1) inset;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
  -webkit-border-radius: 0 0 4px 4px;
  -moz-border-radius: 0 0 4px 4px;
  border-radius:0 0 4px 4px;
  margin-bottom:30px;
  width:270px;
  float:left;
  margin:0 0 30px 30px;
}
.grid-wrap-3columns .grid-post{
  background:#fafafa;
  padding-bottom:10px;
  border:1px solid #ddd;
  border-bottom-color:#f5f5f5;
  -moz-box-shadow: 0px 3px 0px rgba(0,0,0,0.2), 0 0 20px rgba(0, 0, 0, 0.1) inset;
  -webkit-box-shadow: 0px 3px 0px rgba(0,0,0,0.2), 0 0 20px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0px 3px 0px rgba(0,0,0,0.2), 0 0 20px rgba(0, 0, 0, 0.1) inset;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
  -webkit-border-radius: 0 0 4px 4px;
  -moz-border-radius: 0 0 4px 4px;
  border-radius:0 0 4px 4px;
  margin-bottom:30px;
  float:left;
}
.grid-wrap-2columns .grid-post{
  background:#fafafa;
  padding-bottom:10px;
  border:1px solid #ddd;
  border-bottom-color:#f5f5f5;
  -moz-box-shadow: 0px 3px 0px rgba(0,0,0,0.2), 0 0 20px rgba(0, 0, 0, 0.1) inset;
  -webkit-box-shadow: 0px 3px 0px rgba(0,0,0,0.2), 0 0 20px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0px 3px 0px rgba(0,0,0,0.2), 0 0 20px rgba(0, 0, 0, 0.1) inset;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
  -webkit-border-radius: 0 0 4px 4px;
  -moz-border-radius: 0 0 4px 4px;
  border-radius:0 0 4px 4px;
  margin-bottom:30px;
  float:left;
}
.grid-wrap-2columns .grid-post img{
  width:100%;
}
.grid-post-wrap{
  margin:10px;
}

/*------------------------------------------------------------------*/
/*	8) ISOTOPE FILTERING
/*------------------------------------------------------------------*/
.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

/**** Isotope CSS3 transitions ****/
.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
  -moz-transition-duration: 0.8s;
  -ms-transition-duration: 0.8s;
  -o-transition-duration: 0.8s;
  transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
  -moz-transition-property: height, width;
  -ms-transition-property: height, width;
  -o-transition-property: height, width;
  transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
  -moz-transition-property:    -moz-transform, opacity;
  -ms-transition-property:     -ms-transform, opacity;
  -o-transition-property:         top, left, opacity;
  transition-property:         transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/
.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
  -moz-transition-duration: 0s;
  -ms-transition-duration: 0s;
  -o-transition-duration: 0s;
  transition-duration: 0s;
}


/*------------------------------------------------------------------*/
/*	9) COMMENTS
/*------------------------------------------------------------------*/
.comments{
  width:100%;
  clear:both;
  margin-top:10px;
  padding-top:20px;
  float:left;
  margin-bottom:10px;
}
.comment-title{
  text-transform:uppercase;
  font-size:16px;
}
.comments, .comments p{
  color:#c5c5c5;
}
.comments ul{
  margin:20px 0 0 0;
  padding:0;
  list-style-type:none;
  float:left;
  width:100%;
}
.comments ul li{
  margin:0;
  padding:0;
  position:relative;
}
.comments ul li>div{
  padding:0;
  background:#fafafa;
  position:relative;
  float:left;
  width:100%;
  min-height:120px;
  border:1px solid #ddd;
  border-bottom-color:#f5f5f5;
  -moz-box-shadow: 0px 3px 0px rgba(0,0,0,0.2), 0 0 20px rgba(0, 0, 0, 0.1) inset;
  -webkit-box-shadow: 0px 3px 0px rgba(0,0,0,0.2), 0 0 20px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0px 3px 0px rgba(0,0,0,0.2), 0 0 20px rgba(0, 0, 0, 0.1) inset;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.comment-avatar{
  width:80px;
  height:80px;
  left:20px;
  top:20px;
  margin:0;
  position:absolute;
}
.comment-avatar img{
  width:80px;
  height:80px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
}
.commment-text-wrap{
  float:left;
  width:100%;
  padding:20px 20px 20px 120px;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}
.comment-data p{
  color:#3c4852;
}
a.url{
  color:#3c4852;
  font-weight:bold;
  margin-right:10px;

}
a.url:hover{
  color:#9a1e21;
}
.comment-data p span{
  font-size:11px;
  text-transform:uppercase;
  margin-left:10px;
}
a.comment-reply-link{
  color:#FFF;
  font-size:10px;
  text-transform:uppercase;
  background:#9c9c9c;
  padding:3px 5px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-transition:background-color 0.4s ease-in;
  -moz-transition:background-color 0.4s ease-in;
  -o-transition:background-color 0.4s ease-in;
  transition:background-color 0.4s ease-in;
}
a.comment-reply-link:hover{
  background:#9a1e21;
  text-decoration:none;
}
.comment-text{
  color:#929292;
}
ul.children{
  padding:0 0 0 30px;
  margin-top:20px;
  float:left;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}
ul.children li{
  padding:0 0 0 19px;
  float:left;
}

.comment-form{
  clear:both;
  width:100%;
  margin-top:20px;
  padding-top:20px;
  float:left;
}
.comment-form form{
  margin:20px 0 0 0;
}
.input-holder{
  float:left;
  clear:both;
  margin-bottom:15px;
  width:100%;
}
.form2{
  float:left;
  clear:both;
}
.input-holder label{
  margin:0 0 2px 0;
  float:left;
  color:#888;
}
.input input{
  float:left;
  width:100%;
  margin:1px 0 0 0;
  padding:8px 15px;
  background:none;
  height:40px;
  border:1px solid #eee;
  color:#3c4852;
  clear:both;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}
.input-holder textarea{
  border:1px solid #eee;
  background:none;
  width:100%;
  height:200px;
  clear:both;
  float:left;
  padding:15px;
  resize:vertical;
  color:#3c4852;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}
.input input:focus, .input-holder textarea:focus{
  border:1px solid #9c9c9c;
}
.alertMessage{
  width:100%;
  float:left;
  clear:both;
  margin-top:10px;
}
.alertMessage ul{
  padding:0;
  margin:0;
  font-size:14px;
  color:#E4593A;
  list-style-type:none;
}
#map{
  width:100%;
  height:400px;
  margin-bottom:30px;
}
.contact-info{
  background:#fbfbfb;
  padding:20px;
}
.contact-info p i{
  font-size:20px;
  margin-right:15px;
  width:20px;
  margin-bottom:20px;
  float:left;
  margin-top:-7px;
}


/*------------------------------------------------------------------*/
/*	10) FEATURES
/*------------------------------------------------------------------*/
.big-highlight{
  background:#eee;
  padding:20px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
span.highlighted{
  background: #9a1e21;
  color: #FFFFFF;
  padding: 2px 7px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
span.dropcap{
  background:#9a1e21;
  color: #FFFFFF;
  float: left;
  font-size: 30px;
  line-height: 1;
  margin: 3px 20px 5px 0;
  padding: 15px 20px;
}
span.dropcap2{
  background:#9a1e21;
  color: #FFFFFF;
  float: left;
  font-size: 30px;
  line-height: 1;
  margin: 3px 20px 5px 0;
  padding: 15px 20px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
}
.error{
  border:1px solid #DE5053;
  color:#fc7d68;
  background:#ffddd6;
}
.error p{
  margin:0;
  color:#990000;
  padding:0 40px 0 0;
}
.info{
  border:1px solid #1fbcf0;
  color:#1fbcf0;
  background:#caefff;

}
.info p{
  margin:0;
  color:#006699;
  padding:0 40px 0 0;
}
.success{
  border:1px solid #25e04d;
  color:#25e04d;
  background:#d7ffd6;

}
.success p{
  margin:0;
  color:#009933;
  padding:0 40px 0 0;
}
.notice{
  border:1px solid #e9bd61;
  color:#e9bd61;
  background:#fff1d5;

}
.notice p{
  margin:0;
  color:#CC6600;
  padding:0 40px 0 0;
}
.notifications{
  padding:20px;
  height:auto;
  position:relative;
  margin-bottom:15px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.notifications span{
  font-weight:bold;
  margin:0 10px 0 0;
}
.notifications span.closer{
  width:20px;
  margin:10px 0 0 20px;
  height:20px;
  cursor:pointer;
  float:right;
  position:absolute;
  right:10px;
  top:10px;
  color:#888;
}
table{
  width:100%;
  text-align:left;
  border-top:1px solid #eee;
  border-left:1px solid #eee;
  border-spacing: 0;
  margin-bottom:15px;
  color:#696969;
}
table th{
  vertical-align:top;
  background:#fafafa;
  border-right:1px solid #eee;
  border-bottom:1px solid #eee;
  padding:10px;
}
table td{
  vertical-align:top;
  border-right:1px solid #eee;
  border-bottom:1px solid #eee;
  padding:10px;
}
blockquote{
  margin:10px;
  font-style:italic;
  color:#888;
  background:image-url('blockquote.png') no-repeat left top;
  padding:0 0 10px 70px;
  font-family:Georgia, "Times New Roman", Times, serif;
  font-size:17px;
  min-height:40px;
  border:none;
}
blockquote cite{
  margin-top:20px;
  display:block;
  font-family:Arial, Helvetica, sans-serif;
  font-size:13px;
}
/*------------------------------------------------------------------*/
/*	11) PAGINATION
/*------------------------------------------------------------------*/
.pagination-2{
  width:auto;
  float:left;
  clear:both;
  margin:10px 10px 20px 0px;
}
.pagination-2 ul{
  list-style-type:none;
  margin:0;
  padding:0;
}
.pagination-2 ul li{
  float:left;
  margin-bottom:10px;
}
.pagination-2 ul li a{
  padding:5px 12px 5px 12px;
  margin:0 5px 0 0;
  color:#888;
  display:block;
  background:#eee;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.pagination-2 ul li a:hover{
  background-color:#3c4852;
  color:#fff;
  text-decoration:none;
}
.pagination-2 ul li a.active{
  background-color:#9a1e21;
  color:#fff;
}
.pagination-2 ul li a.first-page{
  padding:5px 11px 5px 8px;
}

.pagination-2 ul li a.last-page{
  padding:5px 11px 5px 8px;
}


/*------------------------------------------------------------------*/
/*	12) SIDEBAR
/*------------------------------------------------------------------*/
.widget-block{
  width:100%;
  float:left;
  clear:both;
  margin-bottom:30px;
}
.widget-block ul{
  margin:0 0 15px 0;
  padding:0;
  list-style-type:none;
}
.widget-block ul li a{
  color:#888;
}
.widget-block ul li{
  margin-bottom:2px;
  margin-left:10px;
  h4{
    margin-bottom: 0;
  }
}
.widget-block ul li a:hover{
  color:#9a1e21;
}
.widget-block ul.widget-recent-work li{
  margin-bottom:20px;
}
.widget-block ul.widget-recent-work li:nth-last-child(1){
  margin-bottom:0;
}
.widget-recent-work li a img{
  margin-bottom:10px;
}
.small-title{
  margin-bottom:7px;
  font-size:12px;
}
.widget-block ul li h1 a{
  color:#3c4852;
}
.small-meta{
  font-size:11px;
}
.small-tags{
  margin-right:30px;
}
.small-tags i{
  margin-right:2px;
}
.small-comm i{
  margin-top:-1px;
}
.sidebar a img {
  height: 70px;
}
.sidebar h3{
  margin-bottom:0;
}

/*------------------------------------------------------------------*/
/*	13) CHART
/*------------------------------------------------------------------*/
.easyPieChart {
  position: relative;
  text-align: center;
}

.easyPieChart canvas {
  position: absolute;
  top: 0;
  left: 0;
}
.chart {
  float: left;
  width:100%;
  text-align:center;
}
.percentage{
  text-align: center;
  color: #3c4852;
  font-weight: 100;
  font-size: 1.2em;
  margin:0 auto;
  margin-bottom:15px;
}
.easyPieChart span{
  color:#3c4852;
}


/*------------------------------------------------------------------*/
/*	14) HOME SERVICE 1
/*------------------------------------------------------------------*/
.service_block_1{
  padding:50px 0;
}
.icon-wrap{
  float:left;
  width:40px;
  height:40px;
  background:#3c4852;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  border-radius: 40px;
}
.icon-wrap i{
  padding:0;
  display:block;
  color:#FFF;
  margin:11px 0 0 8px;
  font-size:18px;
  text-align:center;

}
.service_blocks_wrap h5{
  margin-top:12px;
  margin-bottom:20px;
  margin-left:50px;
}
.service_blocks_wrap p{
  margin:0.85em 0;
  clear:both;
}

.service_blocks_wrap_3>div, .service_blocks_wrap_4>div, .service_blocks_wrap_5>div{
  margin-bottom:30px;
}
.home-service>div{
  margin-bottom:0;
}
.service_blocks_wrap_3>div.span12, .service_blocks_wrap_4>div.span12, .service_blocks_wrap_5>div.span12{
  margin-bottom:0;
}
.service_blocks_wrap_3 h5{
  margin-top:12px;
  margin-bottom:20px;
  margin-left:50px;
}
.service_blocks_wrap_3 p{
  margin:0.85em 0;
  clear:both;
}

.icon-wrap-4{
  float:left;
  width:80px;
  height:80px;
  margin-right:20px;
  background:#3c4852;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  text-align:center;
  margin-bottom:20px;
  position:relative;
}
.icon-wrap-4:after{
  bottom:-30px;
  left:50%;
  border: solid transparent;
  content: "";
  height: 0;
  width: 0;
  position: absolute;
  border-top-color: #3c4852;
  border-width: 20px;
  margin: 0 0 0 -20px;
  z-index:999999;

}
.service_blocks_wrap_4 div:hover .icon-wrap-4{
  background:#9a1e21
}
.service_blocks_wrap_4 div:hover .icon-wrap-4:after{
  border-top-color: #9a1e21;
}
.icon-wrap-4 i{
  padding:0;
  color:#FFF;
  margin:15px 0 0 0;
  font-size:50px;
  text-align:center;
  width:70px;
  height:70px;

}
.icon-wrap-5{
  float:left;
  width:120px;
  height:120px;
  margin-right:20px;
  border:1px solid #ddd;
  border-bottom-color:#f5f5f5;
  -moz-box-shadow: 0px 3px 0px rgba(0,0,0,0.2), 0 0 20px rgba(0, 0, 0, 0.1) inset;
  -webkit-box-shadow: 0px 3px 0px rgba(0,0,0,0.2), 0 0 20px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0px 3px 0px rgba(0,0,0,0.2), 0 0 20px rgba(0, 0, 0, 0.1) inset;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  text-align:center;
  margin-bottom:20px;
  position:relative;
}
/*.service_blocks_wrap_5 div:hover .icon-wrap-5 i{
	color:#9a1e21
}*/
.icon-wrap-5 i{
  padding:0;
  color:#3c4852;
  margin:20px 0 0 0;
  font-size:80px;
  text-align:center;
  width:110px;
  height:110px;
}

.portfolio-item{
  width:100%;
  float:left;
}
.from-blog-2{
  margin:0;
  padding:0;
  width:100%;
  list-style-type:none;
}
.from-blog-2 li{
  width:100%;
  float:left;
  clear:both;
  padding-bottom:10px;
  margin-bottom:20px;
  border-bottom:1px dotted #ddd;
}
.from-blog-2 li:nth-last-child(1){
  border-bottom:none;
}
.from-blog-2 a img{
  float:left;
  margin:0 20px 10px 0;
}
.from-blog-2 h1{
  font-size:14px;
  color:#3C4852;
  margin-bottom:3px;
}
.from-blog-2 h1 a{
  color:#3C4852;
}
.from-blog-2 h1 a:hover{
  color:#9a1e21;
}
.from-blog-2 span.mini-meta{
  font-size:12px;
}
.from-blog-2 p{
  margin:15px 0 0 0;
}

/*------------------------------------------------------------------*/
/*	15) STUNNING TEXT
/*------------------------------------------------------------------*/
.stunning-text{
  background:#fafafa;
  padding:30px;
  position:relative;
  border:1px solid #ddd;
  border-bottom-color:#f5f5f5;
  -moz-box-shadow: 0px 3px 0px rgba(0,0,0,0.2), 0 0 20px rgba(0, 0, 0, 0.1) inset;
  -webkit-box-shadow: 0px 3px 0px rgba(0,0,0,0.2), 0 0 20px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0px 3px 0px rgba(0,0,0,0.2), 0 0 20px rgba(0, 0, 0, 0.1) inset;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.button-wrap{
  float:right;
  margin:0 0 20px 30px;
}
.stunning-text p {
  margin-bottom:0;
}
.stunning-text h3{
  line-height:1;
}
.stunning-bottom img{
  float:left;
  max-width:100%;
}


/*------------------------------------------------------------------*/
/*	16) PORTFOLIO
/*------------------------------------------------------------------*/
.portfolio{
  width:100%;
  float:left;
  height:auto;
}
.portfolio-item{
  position:relative;
  margin-bottom:30px;
}
.portfolio-item img{
  width:100%;
  -webkit-border-radius: 4px 4px 0px 0px;
  -moz-border-radius: 4px 4px 0px 0px;
  border-radius: 4px 4px 0px 0px;
}
.image-wrap{
  width:auto;
  height:auto;
  position:relative;
}
.portfolio-list{
  list-style-type:none;
  width:auto;
  margin-left:0px;
}
.portfolio-list li{
  padding:0;
  margin:0 0 30px 30px;

}
.portfolio-2columns .portfolio-list li{
  width:570px;
}
.portfolio-3columns .portfolio-list li{
  width:370px;
}
.portfolio-4columns .portfolio-list li{
  width:270px;
}
.portfolio-filter{
  margin-bottom:30px;
}
.portfolio-filter ul{
  list-style-type:none;
  margin:10px 0;
  padding:0;
}
.portfolio-filter ul li{
  display:inline-table;
  margin:10px 5px 10px 0;
}
.portfolio-filter ul li a{
  position:relative;
  padding:10px 25px;
  color:#3c4852;
  background:#eee;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: 0px 1px 0px rgba(0,0,0,0.2);
  -webkit-box-shadow: 0px 1px 0px rgba(0,0,0,0.2);
  box-shadow: 0px 1px 0px rgba(0,0,0,0.2);
}
.portfolio-filter ul li a.current, #portfolio-filter li a:hover{
  color:#FFFFFF;
  background:#3c4852;
}
.project-single .span12{
  margin-bottom:30px;
}
.project-details{
  width:100%;
  padding:40px 40px 25px 40px;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;
  border:1px solid #ddd;
  border-bottom-color:#f5f5f5;
  -moz-box-shadow: 0px 3px 0px rgba(0,0,0,0.2), 0 0 20px rgba(0, 0, 0, 0.1) inset;
  -webkit-box-shadow: 0px 3px 0px rgba(0,0,0,0.2), 0 0 20px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0px 3px 0px rgba(0,0,0,0.2), 0 0 20px rgba(0, 0, 0, 0.1) inset;
  background:#fafafa;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  margin-bottom:20px;
}
.span6 .project-details{
  margin-top:30px;
}
.project-details h1{
  font-size:16px;
  text-transform:uppercase;
}
.project-details span{
  color:#3c4852;
  margin-right:5px;
}
.related-projects.span12{
  margin-bottom:0;
  margin-top:50px;
}


/*------------------------------------------------------------------*/
/*	17) HOME PORTFOLIO
/*------------------------------------------------------------------*/
.portfolio_block_1{
  padding:0;
}
.portfolio_blocks_wrap{
  padding:0;
}
.portfolio_blocks_wrap .item{
  min-height:287px;
}
.blog_blocks_wrap .item{
  min-height:428px;
}
.item{
  width:370px;
  float:left;
  margin:0 15px;
  padding:0 0 10px 0;
  position:relative;
}
.item img{
  -webkit-border-radius: 4px 4px 0px 0px;
  -moz-border-radius: 4px 4px 0px 0px;
  border-radius: 4px 4px 0px 0px;
}
.maskImage{
  width:100%;
  height:100%;
  overflow:hidden;
  position:absolute;
  z-index:99999;
  background:image-url('pixelblack.png') repeat;
  -webkit-border-radius: 4px 4px 0px 0px;
  -moz-border-radius: 4px 4px 0px 0px;
  border-radius: 4px 4px 0px 0px;
}
.maskImage a{
  width:100%;
  height:100%;
  display:block;
}
.maskImage a span{
  background:#9a1e21;
  width:48px;
  height:48px;
  position:absolute;
  margin-left:50%;
  left:-24px;
  top:-48px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.maskImage a span i{
  color:#FFF;
  font-size:20px;
  margin-left:10px;
  margin-top:13px;
}
.og-grid li .maskImage a span i{
  margin-left:-13px;
}
.title_holder{
  width:100%;
  padding:15px;
  background:#fafafa;
  position:relative;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
  border:1px solid #ddd;
  border-top:none;
  float:left;
  clear:both;
  -webkit-border-radius: 0px 0px 4px 4px;
  -moz-border-radius: 0px 0px 4px 4px;
  border-radius: 0px 0px 4px 4px;
  -moz-box-shadow: 0px 3px 0px rgba(0,0,0,0.2);
  -webkit-box-shadow: 0px 3px 0px rgba(0,0,0,0.2);
  box-shadow: 0px 3px 0px rgba(0,0,0,0.2);
}
.title_holder:before{
  top: -25px;
  border: solid transparent;
  content: "";
  height: 0;
  width: 0;
  position: absolute;
  border-bottom-color: #fafafa;
  border-width: 15px;
  right: 50%;
  margin: 0 -15px 0 0;
  z-index:999999;

}
.title_holder h1{
  width:auto;
  float:left;
  margin-bottom:0;
  font-size:14px;
  margin-right:70px;
}
.title_holder h1 a{
  color:#3c4852;
}
.title_holder h1 a:hover{
  color:#9a1e21;
}
span.span_like{
  color:#3c4852;
  position:absolute;
  right:15px;
  top:15px;
  margin-left:10px;
  width:auto;
}
span.span_like a{
  color:#3c4852;
}
span.span_like a:hover{
  color:#9a1e21;
}
span.span_like i{
  margin:0 7px 0 0;
  font-size:15px;
}
.carousel_navigations{
  width:100%;
  text-align:center;
  margin:30px 0 0 0;
  float:left;
  clear:both;
}
.carousel_navigations ul{
  list-style-type:none;
  padding:0;
  margin:0;
}
.carousel_navigations ul li{
  display:inline-block;
  margin:0;
  padding:0;
}
.carousel_navigations ul li a{
  width:30px;
  height:30px;
  display:block;
  background:image-url('c_nav.png') no-repeat;
  background-color:#3c4852;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  margin:0;
  padding:0;
}
.carousel_navigations ul li a:hover{
  background-color:#9a1e21;
}
#car_prev, #car_prev_2{
  background-position:12px 9px;
}
#car_next, #car_next_2{
  background-position:-21px 9px;
}

.video_holder{
  margin-top:40px;
}

/*------------------------------------------------------------------*/
/*	18) HOME PORTFOLIO 2
/*------------------------------------------------------------------*/
.og-grid {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  text-align: center;
  width: 100%;
}

.og-grid li {
  display: inline-block;
  margin: 0 -4px 0 0;
  vertical-align: top;
  height: auto;
  width:16.7%;
}

.og-grid li > a,
.og-grid li > a img {
  border: none;
  outline: none;
  display: block;
  position: relative;
  width:100%;
  height:auto;
}

.og-grid li.og-expanded > a::after {
  top: auto;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-bottom-color: #3c4852;
  border-width: 15px;
  left: 50%;
  margin: -30px 0 -20px -15px;
}

.og-expander {
  position: absolute;
  background: #3c4852;
  top: auto;
  left: 0;
  width: 100%;
  margin-top: 0;
  text-align: left;
  height: 0;
  overflow: hidden;
  margin-bottom:0;
}

.og-expander-inner {
  padding: 50px 30px;
  height: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.og-close {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 20px;
  right: 20px;
  cursor: pointer;
}

.og-close::before,
.og-close::after {
  content: '';
  position: absolute;
  width: 100%;
  top: 50%;
  height: 1px;
  background: #888;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  transform: rotate(45deg);
}

.og-close::after {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.og-close:hover::before,
.og-close:hover::after {
  background: #333;
}

.og-fullimg,
.og-details {
  float: left;
  height: 100%;
  overflow: hidden;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.og-details {
  padding: 0 40px 0 20px;
  width:35%;
  border-left:1px solid #333;
  -webkit-box-shadow: inset 1px 0 0 #465460;
  -moz-box-shadow: 	inset 1px 0 0 #465460;
  box-shadow: 		inset 1px 0 0 #465460;
}

.og-fullimg {
  text-align: center;
  width:65%;
}

.og-fullimg img {
  display: inline-block;
  max-height: 100%;
  max-width: 95%;
  border:5px solid #465460;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.og-details h1 {
  padding: 40px 0 10px;
  margin-bottom: 10px;
  color:#eee;
}

.og-details p {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #999;
}

.og-details a {
  margin: 30px 0 0;
}

.og-details a::before {
  content: '\2192';
  display: inline-block;
  margin-right: 10px;
}

.og-loading {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #ddd;
  box-shadow: 0 0 1px #ccc, 15px 30px 1px #ccc, -15px 30px 1px #ccc;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -25px 0 0 -25px;
  -webkit-animation: loader 0.5s infinite ease-in-out both;
  -moz-animation: loader 0.5s infinite ease-in-out both;
  animation: loader 0.5s infinite ease-in-out both;
}

@-webkit-keyframes loader {
  0% { background: #ddd; }
  33% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ccc, -15px 30px 1px #ddd; }
  66% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ddd, -15px 30px 1px #ccc; }
}

@-moz-keyframes loader {
  0% { background: #ddd; }
  33% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ccc, -15px 30px 1px #ddd; }
  66% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ddd, -15px 30px 1px #ccc; }
}

@keyframes loader {
  0% { background: #ddd; }
  33% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ccc, -15px 30px 1px #ddd; }
  66% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ddd, -15px 30px 1px #ccc; }
}


/*------------------------------------------------------------------*/
/*	19) TEAM MEMBERS
/*------------------------------------------------------------------*/
.ourteam{
  margin-bottom:30px;
  padding:35px;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;
  -moz-box-shadow: 0px 3px 0px rgba(0,0,0,0.2);
  -webkit-box-shadow: 0px 3px 0px rgba(0,0,0,0.2);
  box-shadow: 0px 3px 0px rgba(0,0,0,0.2);
  border:1px solid #ddd;
  background:#fafafa;
  -webkit-border-radius: 0 0 4px 4px;
  -moz-border-radius: 0 0 4px 4px;
  border-radius: 0 0 4px 4px;


}
.member-image img{
  max-width:100%;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;
  -moz-box-shadow: 0px 3px 0px rgba(0,0,0,0.2);
  -webkit-box-shadow: 0px 3px 0px rgba(0,0,0,0.2);
  box-shadow: 0px 3px 0px rgba(0,0,0,0.2);
  border:1px solid #ddd;
  -webkit-border-radius: 500px;
  -moz-border-radius: 500px;
  border-radius: 500px;
  margin-bottom:30px;
}
p.team-social{
  margin-bottom:0;
  margin-top:20px;
}
.team-social a{
  margin:0 10px 0 0;
  color:#BBBBBB;
  font-size:18px;
  float:left;
  display:block;
  width:25px;
}
.ourteam h5 span{
  font-family:'Pt-Sans', Arial, sans-serif;
  font-size:13px;
}



/*------------------------------------------------------------------*/
/*	20) BUTTONS
/*------------------------------------------------------------------*/
.btn-theme {
  display: inline-block;
  *display: inline;
  padding: 5px 15px;
  margin-bottom: 0;
  *margin-left: .3em;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background:#9a1e21;
  color:#FFF;
  border:1px solid;
  *border: 0;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);

  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  *zoom: 1;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), 0 1px 3px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), 0 1px 3px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), 0 1px 3px rgba(0, 0, 0, 0.1);

  -webkit-transition: background-color .3s ease, border .3s ease, color .3s ease, opacity .3s ease-in-out;
  -moz-transition: background-color .3s ease, border .3s ease, color .3s ease, opacity .3s ease-in-out;
  -ms-transition: background-color .3s ease, border .3s ease, color .3s ease, opacity .3s ease-in-out;
  -o-transition: background-color .3s ease, border .3s ease, color .3s ease, opacity .3s ease-in-out;
  transition: background-color .3s ease, border .3s ease, color .3s ease, opacity .3s ease-in-out;
}
.btn-theme:hover,
.btn-theme:focus,
.btn-theme:active,
.btn-theme.active {
  color: #FFFFFF;
}

.btn-theme-color{
  background:#9a1e21;
  color:#FFF;
}
.btn-theme:hover{
  background:#3c4852;
}
.btn-theme-large{
  padding:10px 25px;
  font-family:'Pt-Sans-Bold', Arial, sans-serif;
}
.btn-theme i.left{
  margin:2px 10px 0 0;
}
.btn-theme i.right{
  margin:2px 0 0 10px;
}


/*------------------------------------------------------------------*/
/*	21) UI ELEMENTS
/*------------------------------------------------------------------*/
.ui-tabs-nav{
  margin:0;
  list-style-type:none;
  clear:both;
  display:block;
  float:left;
  width:100%;
  -webkit-border-radius: 3px 3px 0 0;
  -moz-border-radius: 3px 3px 0 0;
  border-radius: 3px 3px 0 0;
}
.ui-tabs-nav li{
  float:left;
  display:block;
  border:1px solid #ddd;
  border-bottom:none;
}
.ui-tabs-nav li:nth-child(1), .ui-tabs-nav li:nth-child(1) a{
  -webkit-border-radius: 3px 0 0 0;
  -moz-border-radius: 3px 0 0 0;
  border-radius: 3px 0 0 0;
}
.ui-tabs-nav li:nth-last-child(1), .ui-tabs-nav li:nth-last-child(1) a{
  -webkit-border-radius: 0 3px 0 0;
  -moz-border-radius: 0 3px 0 0;
  border-radius: 0 3px 0 0;
}

.ui-state-default a{
  background:#e6e6e6;
  padding:10px 25px;
  text-transform:uppercase;
  color:#3c4852;
  display:block;
}
.ui-tabs-active a{
  background:#3c4852;
  color:#fff;
}
.ui-tabs-nav li.ui-tabs-active{
  border:1px solid #3c4852;
  border-bottom:none;
}
.ui-tabs-panel{
  border:1px solid #e6e6e6;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  clear:both;
  padding:15px;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;
}

.ui-accordion .ui-accordion-header {
  display: block;
  cursor: pointer;
  position: relative;
  margin-top: 2px;
  margin-bottom:8px;
  padding: 1em 1em 1em 1em;
  min-height: 0; /* support: IE7 */
  font-size:14px;
  background:#eee;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.ui-accordion .ui-accordion-header-active{
  margin-bottom:0;
  background:#3c4852;
  color:#fff;
  -webkit-border-radius: 3px 3px 0 0;
  -moz-border-radius: 3px 3px 0 0;
  border-radius: 3px 3px 0 0;
}
.ui-accordion .ui-accordion-icons {
  padding-right: 3.5em;
}
.ui-accordion .ui-accordion-noicons {
  padding-left: .7em;
}
.ui-accordion .ui-accordion-icons .ui-accordion-icons {
  padding-left: 2.2em;
}
.ui-accordion .ui-accordion-header .ui-accordion-header-icon {
  position: absolute;
  right: 1em;
  top: 50%;
  margin-top: -11px;
  margin-left:-7px;
  width:22px;
  height:22px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
}
.ui-icon-triangle-1-e{
  background:#3c4852 image-url('plus.png') no-repeat;
  background-position:6px 6px;
}
.ui-icon-triangle-1-s{
  background:#9a1e21 image-url('minus.png') no-repeat;
  background-position:6px 10px;
}
.ui-accordion .ui-accordion-content {
  padding: 1em;
  border-top: 0;
  overflow: auto;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;
  border:1px solid #eee;
  margin-top:-1px;
  margin-bottom:10px;
  -webkit-border-radius: 0 0 3px 3px;
  -moz-border-radius: 0 0 3px 3px;
  border-radius: 0 0 3px 3px;
}


/*------------------------------------------------------------------*/
/*	22) SKILLS
/*------------------------------------------------------------------*/
.skills{
  list-style-type:none;
  margin:0;
}
.skills li{
  background:#eee;
  float:left;
  width:100%;
  font-size:12px;
  text-transform:uppercase;
  margin-bottom:10px;
  position:relative;
  display:block;
  overflow:hidden;
  -moz-box-shadow: 0px 3px 0px rgba(0,0,0,0.1);
  -webkit-box-shadow: 0px 3px 0px rgba(0,0,0,0.1);
  box-shadow: 0px 3px 0px rgba(0,0,0,0.1);
}
.skill-name{
  width:35%;
  float:left;
  padding:15px;
  background:#3c4852;
  color:#FFF;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}
.skill-percent-back{
  width:65%;
  float:left;
  height:100%;
  position:relative;
  display:block;
}
.skill-percent{
  padding:15px;
  color:#FFF;
  background:#9a1e21;
  height:100px;
  position:absolute;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}
.skill-percent span{
  color:#FFF;
}

/*------------------------------------------------------------------*/
/*	23) PARALLAX
/*------------------------------------------------------------------*/
.parallax-home{
  background:image-url('trash/Group_op_people_dark.jpg') repeat fixed center;
  padding:50px 0;
}
.service-blocks-wrap-2{
  list-style-type:none;
  width:100%;
  margin:0;
  text-align:center;
}
.service-blocks-wrap-2 li{
  width:300px;
  height:400px;
  position:relative;
  background:#FFF;
  padding:20px;
  display:inline-block;
  margin:20px 5px 40px;
  text-align:center;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}
.service-blocks-wrap-2 li h4{
  margin:20px 0 30px 0;
  text-transform:uppercase;
  font-size:16px;
}
.service-blocks-wrap-2 li p{
  padding:0 20px;
}
.separotor-1{
  display:block;
  clear:both;
  position:absolute;
  width:100%;
  padding:0 40px 0 0;
  bottom:0;
  margin:0 0 40px 0;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}
.separotor-1 span{
  display:block;
  padding:10px 0;
  width:100%;
  float:left;
  background:image-url('title.png') no-repeat center;
}
.icon-wrap-2{
  width:105px;
  height:105px;
  margin-bottom:30px;

}
.icon-wrap-2 i{
  padding:30px 0 0 0;
  width:40px;
  background:#3c4852;
  display:block;
  color:#FFF;
  margin:0 10px 10px 0;
  width:105px;
  height:75px;
  font-size:48px;
  text-align:center;
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
  border-radius: 150px;
}
.icon-wrap-2.theme-color i{
  background:#9a1e21;
}
.button-holder{
  position:absolute;
  width:100%;
  bottom:0;
  margin-left:-20px;
}
.button-holder a{
  width:150px;
  margin-bottom:-20px;
  clear:both;
}
.btn-grey{
  background:#3c4852;
}

/*------------------------------------------------------------------*/
/*	24) HOME BLOG
/*------------------------------------------------------------------*/
.desc{
  width:100%;
  padding:15px;
  background:#FFF;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
  border:1px solid #ddd;
  border-top:none;
  float:left;
  clear:both;
  background:#fafafa;
}
.desc h5 a{
  color:#3c4852;
}
.desc h5 a:hover{
  color:#9a1e21;
}
.title_holder_2{
  width:100%;
  background:#FFF;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
  border:1px solid #ddd;
  border-top:none;
  float:left;
  clear:both;
  background:#fafafa;
  -webkit-border-radius: 0px 0px 4px 4px;
  -moz-border-radius: 0px 0px 4px 4px;
  border-radius: 0px 0px 4px 4px;
  -moz-box-shadow: 0px 3px 0px rgba(0,0,0,0.2);
  -webkit-box-shadow: 0px 3px 0px rgba(0,0,0,0.2);
  box-shadow: 0px 3px 0px rgba(0,0,0,0.2);
}
.title_holder_2 a{
  padding:10px 0;
  float:left;
  color:#888;
  text-align:center;
}
.title_holder_2 a:hover{
  color:#9a1e21;
}
.title_holder_2 a i{
  font-size:15px;
  margin:-1px 0 0 0;
}
.post-comm, .post-date, .post-type-icon{
  border-right:1px solid #ddd;
  float:left;
}
.post-type-icon a{
  width:70px;
  text-align:center;
  color:#888;
}
.post-type-icon a i{
  margin-left:-6px;
}
.post-comm a{
  width:70px;
}
.post-comm a i{
  margin-right:10px;
}
.post-date a{
  width:150px;
}
.post-date a i{
  margin-right:10px;
}
.like-2 a {
  width:70px;
}
.like-2 a i{
  margin-right:10px;
  margin-top:0;
}


/*------------------------------------------------------------------*/
/*	25) PRICING TABLES
/*------------------------------------------------------------------*/
.pricing{
  list-style-type:none;
  float:left;
  width:100%;
  text-align:center;
  padding:0;
  margin:5px 1px 0 0;
}
.pricing li{
  padding:10px 5px;
  margin:0;
  color:#3c4852;
  background:#fff;
  border-top:1px solid #ddd;
  border-right:1px solid #ddd;
  border-left:1px solid #ddd;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}
.pricing li.title-row{
  background:#3c4852;
  color:#FFF;
  font-family:'Pt-Sans-Bold', Arial, sans-serif;
  font-size:16px;
  padding:20px 5px;
}
.pricing li.title-row span, .pricing ul li.pricing-row span{
  font-size:12px;
  font-style:italic;
}
.pricing li.title-row h4{
  margin-bottom:0;
  color:#FFF;
}
.pricing li.pricing-row, .pricing ul li.button-row{
  margin:0;
  border-top:none;
}
.pricing li.pricing-row span.price{
  font-size:30px;
  line-height:40px;
}
.pricing li.pricing-row span{
  color:#3c4852;
}
.pricing li.button-row{
  height:auto;
  padding:25px 0;
  background:#3c4852;
}

.pricing li.button-row a{
  color:#FFF;
  padding:10px 20px;
  font-weight:bold;
  -webkit-transition:background-color 0.4s ease-in;
  -moz-transition:background-color 0.4s ease-in;
  -o-transition:background-color 0.4s ease-in;
  transition:background-color 0.4s ease-in;
}
.pricing.theme-color li.title-row, .pricing.theme-color li.button-row{
  background:#9a1e21;
}


/*------------------------------------------------------------------*/
/*	26) CLIENTS
/*------------------------------------------------------------------*/
.clients{
  width:100%;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
  list-style-type:none;
  margin:0;
  padding:0;
}
.clients li{
  box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.03);
  float: left;
  margin: -1px 0 0 -1px;
  width:187px;
  height:88px;
  padding:0;
  text-align:center;
  border:1px solid #ddd;
  /*background:#fafafa;
  -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.1) inset;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.1) inset;
  box-shadow:0 0 20px rgba(0, 0, 0, 0.1) inset;*/
}
.clients li img{
  max-width:100%;
}

/*------------------------------------------------------------------*/
/*	27) FOOTER
/*------------------------------------------------------------------*/
.footer{
  background:#3c4852;
  border-bottom:1px solid #242c32;
  border-top:4px solid #546370;
}
.footer a, .footer p, .footer span{
  color:#eee;
  text-shadow:0 1px 1px #000000;
}
.footer a:hover{
  color:#FFF;
}
.footer ul.social-list{
  margin:20px 0 0 0;
}
.footer h5{
  text-transform:uppercase;
}
h1.widget-title{
  font-size:16px;
  text-transform:uppercase;
  margin-bottom:20px;
  line-height:1;
}
.copyright{
  background:#242c32;
  padding:20px 0 5px 0;
  border-top:1px solid #3c4852;
}
.copyright p, .copyright a{
  color:#526371;
  text-shadow:0 1px 1px #000000;
}
.copyright a:hover{
  color:#FFF;
}
ul.social-list{
  list-style-type:none;
  margin:0;
  padding:0;
}
ul.social-list li{
  float:left;
  margin-right:7px;
  margin-bottom:7px;
}
ul.social-list li a{
  margin:0 15px 10px 0;
  display:block;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
ul.social-list li a i{
  line-height:0;
  margin:0;
  padding:0;
  font-size:20px;
}
.social-icons ul.social-list li a{
  color:#3C4852;
}
/*ul.social-list li.facebook a:hover{color:#316db7;}
ul.social-list li.twitter a:hover{color:#17a8dd;}
ul.social-list li.dribbble a:hover{color:#ea4c89;}
ul.social-list li.rss a:hover{color:#f8bc2e;}
ul.social-list li.linkedin a:hover{color:#65b7d2;}
ul.social-list li.skype a:hover{color:#00c6ff;}
ul.social-list li.youtube a:hover{color:#e70031;}
ul.social-list li.vimeo a:hover{color:#7edde8;}
ul.social-list li.flickr a:hover{color:#ff0084;}
ul.social-list li.github a:hover{color:#b2b2b2;}
ul.social-list li.gplus a:hover{color:#1872bf;}
ul.social-list li.pinterest a:hover{color:#cb2027;}
ul.social-list li.tumblr a:hover{color:#385a75;}
ul.social-list li.lastfm a:hover{color:#f40909;}
ul.social-list li.instagram a:hover{color:#333;}*/


.from-blog{
  margin:0 0 20px 0;
  width:100%;
  clear:both;
  float:left;
}
.from-blog img{
  float:left;
  margin:0 20px 10px 0;
  border:5px solid #465460;
}
.from-blog:hover img{
  border-color:#536676;
}
.from-blog p{
  margin-bottom:5px;
}
.from-blog span{
  font-size:11px;
  color:#CCC;
}

/* :: TWITTER ::*/
.tweet_list{
  list-style-type:none;
  margin:0;
  padding:0;
}
.tweet_list li{
  margin-bottom:20px;
}
.tweet_list li i{
  color:#FFF;
  margin-right:5px;
}
span.tweet_time{
  margin-right:5px;
}
span.tweet_time a{
  color:#9a1e21;
}
.widget-block .tweet_list li{
  margin-bottom:20px;
}
.widget-block .tweet_list li i{
  color:#888;
}
.widget-block .tweet_list li span.tweet_text{
  color:#888;
}
.widget-block .tweet_list li span.tweet_time a{
  color:#9a1e21;
}
.widget-block .tweet_list li span.tweet_time a:hover{
  color:#3c4852;
}

/*  :: FLICKR ::  */
.flickrfeed{
  width:100%;
  float:left;
  margin:0;
  display:block;
}
ul li.hide{
  display:none;
}
.thumbs {
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.thumbs li {
  list-style: none;
  float: left;
  margin: 0 2px 2px 0;
  padding:1px;
  background: #666;
  -webkit-transition: background-color .3s ease, border .3s ease, color .3s ease, opacity .3s ease-in-out;
  -moz-transition: background-color .3s ease, border .3s ease, color .3s ease, opacity .3s ease-in-out;
  -ms-transition: background-color .3s ease, border .3s ease, color .3s ease, opacity .3s ease-in-out;
  -o-transition: background-color .3s ease, border .3s ease, color .3s ease, opacity .3s ease-in-out;
  transition: background-color .3s ease, border .3s ease, color .3s ease, opacity .3s ease-in-out;
}
.thumbs li:hover { background:#333;}
.thumbs li img, .thumbs li a {
  display:block;
  width:86px;
  height:86px;
}

.contact-widget{
  //background:image-url('earth.png') no-repeat center;
}
.contact-widget i{
  float:left;
  margin-right:20px;
  margin-bottom:10px;
  padding:10px 11px 10px 9px;
  color:#FFF;
  background:#9a1e21;
  position:relative;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;

}
.contact-widget i:after{
  top: 50%;
  right:-12px;
  border: solid transparent;
  content: "";
  height: 0;
  width: 0;
  position: absolute;
  border-left-color: #9a1e21;
  border-width: 6px;
  margin: -6px 0 0 0;
  z-index:999999;

}
.contact-widget .clearfix{
  margin-bottom:10px;
}

/*------------------------------------------------------------------*/
/*	28) FEATURE LIST
/*------------------------------------------------------------------*/
.feature-box{
  width:100%;
  margin-bottom:20px;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
  padding-left:60px;
}
.feature-box .icon-wrap{
  margin-left:-60px;
}
.feature-box h5{
  margin-bottom:5px;
}

/*------------------------------------------------------------------*/
/*	29) SMALL DEVICES
/*------------------------------------------------------------------*/
@media (max-width: 979px) {
  #nav .sf-menu{
    display:none;
  }
  #nav{
    width:100px;
  }
  .nav-toggle{
    display:block;
  }
  .mobile-menu-inner{
    display:block;
  }
  .service-blocks-wrap-2 li{
    margin:20px 8px 40px 8px;
  }

}


/* Large desktop */
@media (min-width: 1200px) {

  #nav{
    width:900px;
  }
  .clients li{
    width:233px;
    height:110px;
  }
}

@media (max-width: 1250px) {

  #header, #content, #footer, #upper-section, .body-wrapper{
    border:none;
    width:100%;
  }
  .topbar, .nav-wrap{
    width:100%;
  }

}


@media (min-width: 1170px) and (max-width: 1600px) {

}

/* Desktop */
@media (min-width: 980px) and (max-width: 1200px) {

  .logo{
    width:200px;
  }
  .service-blocks-wrap-2 li{
    margin:20px 8px 40px 8px;
  }
  .og-grid li {
    width:25%;
  }
  .masonry-wrap-4columns{
    margin-left:20px;
  }
  .masonry-wrap-3columns{
    margin-left:20px;
  }
  .grid-wrap-4columns .grid-post{
    width:220px;
    margin:0 0 30px 20px;
  }
  .portfolio-list li{
    margin-left:20px;
  }
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {

  .og-grid li {
    width:33.333%;
  }
  .social-icons{
    clear:both;
    width:100%;
    text-align:center;
    padding-top:0;
  }
  .social-icons .social-list{
    float:none;
    width:autos;
  }
  .masonry-wrap-4columns{
    margin-left:20px;
  }
  .masonry-wrap-3columns{
    margin-left:20px;
  }
  .grid-wrap-4columns .grid-post{
    width:220px;
    margin:0 0 30px 20px;
  }
  .portfolio-3columns .portfolio-list li{
    margin-left:170px;
  }
  .portfolio-4columns .portfolio-list li{
    margin-left:20px;
  }
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {

  .container{
    padding:0;
    width:480px;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
  }

  .span2, .span3, .span4, .span5, .span6, .span7, .span8, .span9, .span10, .span11, .span12{
    float:left;
    margin-bottom:30px;
  }
  .home-service > div{
    margin-bottom:30px;
  }
  .clients li{
    width:233px;
    height:110px;
  }
  .tp-caption p{
    font-size:10px;
  }
  .og-grid li {
    width:50%;
  }
  .breadcrumbs p{
    text-align:left;
  }
  .breadcrumbs .span6{
    margin-bottom:0;
  }
  .timeline-with{
    width:400px;
  }
  .timeline-head{
    display:none;
  }
  .timeline:before{
    left: 0;
  }
  .timeline li{
    width:100%;
    padding-right:0;
  }
  .timeline li:nth-child(2n-1){
    float:right;
    padding-left:30px;
    clear:right;
    padding-right:0;
  }
  .timeline li:nth-child(2n){
    float:right;
    padding-left:30px;
    clear:right;
  }
  .timeline li:nth-child(2n) .timeline-dot{
    left: -38px;
  }
  .timeline li:nth-child(2n-1) .timeline-dot {
    left: -38px;
  }
  .timeline li:nth-child(2n-1) .timeline-date{
    float:left;
    clear:both;
    text-align:left;
    margin-bottom:20px;
  }
  .timeline li:nth-child(2n) .timeline-date{
    float:left;
    clear:both;
    text-align:left;
    margin-bottom:20px;
  }
  .timeline li:nth-child(2n-1) .timeline-date span:after{
    left: 10%;
  }
  .timeline li:nth-child(2n) .timeline-date span:after{
    right: auto;
    left: 10%;
  }
  .timeline-nav .timeline-dot{
    display:none;
  }
  .timeline-nav ul li{
    padding:0 2px;
  }
  .social-icons{
    clear:both;
    width:100%;
    text-align:center;
    padding-top:0;
  }
  .social-icons .social-list{
    float:none;
    width:autos;
  }
  #upper-section .row > div{
    margin-bottom:0;
  }
  .mini-nav{
    float:left;
  }
  .masonry-wrap-4columns{
    margin-left:0;
  }
  .masonry-wrap-3columns{
    margin-left:0;
  }
  .grid-wrap-3columns .grid-post img{
    width:100%;
  }
  .portfolio-3columns .portfolio-list li{
    margin-left:120px;
  }
  .portfolio-4columns .portfolio-list li{
    margin-left:20px;
  }
  .portfolio-2columns .portfolio-list li{
    margin-left:0;
  }

}

@media (max-width: 640px){

  .masonry{
    float: none !important;
    left: auto !important;
    position: relative !important;
    top: auto !important;
    transform: none !important;
    width: 99% !important;
  }
  .masonry img, .grid-post img{
    min-width:100%;
  }
  .grid-wrap-4columns .grid-post{
    margin:0 0 30px -0;
    width:100%;
  }
  .portfolio-3columns .portfolio-list li{
    margin-left:70px;
  }
  .portfolio-4columns .portfolio-list li{
    margin-left:0;
  }
  .portfolio-2columns .portfolio-list li{
    float: left !important;
    left: auto !important;
    position: relative !important;
    top: auto !important;
    transform: none !important;
    width: 99% !important;
  }
}

/* Landscape phones and down */
@media (max-width: 480px) {
  .container{
    width:300px;
    padding:0;
  }
  .logo{
    width:100%;
    text-align:center;
  }
  #nav{
    width:100%;
  }
  .nav-toggle{
    float:left;
  }
  .search-include .popup-search{
    width:250px;
  }
  .popup-search input.ft{
    width:150px;
  }
  .item{
    width:300px;
  }
  .post-comm, .post-date, .post-type-icon{
    border-bottom:1px solid #DDDDDD;
  }
  .post-comm{
    border-right:none;
  }
  .post-comm a{
    width:76px;
  }
  .service-blocks-wrap-2 li{
    width:260px;
    margin:10px 0 40px 0;
  }
  .clients li{
    width:233px;
    margin-left:33px;
    height:110px;
  }
  .tp-caption p{
    font-size:8px;
  }
  .portfolio-3columns .portfolio-list li{
    margin-left:0;
  }
  .timeline-with{
    width:300px;
  }
  .timeline li{
    width:270px;
    float:left;
  }
  .timeline li:nth-child(2n-1), .timeline li:nth-child(2n){
    float:left;
  }
  .timeline-post{
    width:238px;
  }
  ul.children{
    padding:0;
  }
  ul.children li{
    padding:0;
  }
}
.contact{
  padding-top: 30px;
}
.row.gal .span2 {
  height: 150px;
}

@media screen and (max-width: 830px) {

  .og-expander h1 { font-size: 32px; }
  .og-expander p { font-size: 13px; }
  .og-expander a { font-size: 12px; }

}

@media screen and (max-width: 767px) {

  .og-fullimg { display: none; }
  .og-details { float: none; width: 100%; border:none; box-shadow:none; -moz-box-shadow:none; -webkit-box-shadow:none;}

}
p.sidebar-header{
  font-weight: normal;
  color: #3C4852;
  margin: 0;
  font-family: Pt-Sans-Bold, Arial, sans-serif;
  line-height: 1.4;
  font-size: 24.5px;
  display:block;
}
p.sidebar-item{
  font-weight: normal;
  color: #3C4852;
  margin: 0;
  font-family: 'Pt-Sans-Bold', Arial, sans-serif;
  line-height: 1.4;
  font-size: 17.5px;
}