
/*** ESSENTIAL STYLES ***/
.sf-menu, .sf-menu * {
  margin:			0;
  padding:		0;
  list-style:		none;
}
.sf-menu {
  line-height:	1.0;
}
.sf-menu ul {
  position:		absolute;
  top:			-999em;
  width:			15em; /* left offset of submenus need to match (see below) */
}
.sf-menu ul li {
  width:			100%;
}
.sf-menu li:hover {
  visibility:		inherit; /* fixes IE7 'sticky bug' */
}
.sf-menu li {
  position:		relative;
}
.sf-menu a {
  display:		block;
  position:		relative;
}
.sf-menu>li>ul{
  margin-top:2px;
}
.sf-menu li li ul{
  margin-top:-1px;
  -moz-box-shadow: 0px 1px 1px rgba(0,0,0,0.1);
  -webkit-box-shadow: 0px 1px 1px rgba(0,0,0,0.1);
  box-shadow: 0px 1px 1px rgba(0,0,0,0.1);
}
.sf-menu li:hover ul,
.sf-menu li.sfHover ul {
  left:			0;
  top:			2.2em; /* match top ul list item height */
  z-index:		99;
}
ul.sf-menu li:hover li ul,
ul.sf-menu li.sfHover li ul {
  top:			-999em;
}
ul.sf-menu li li:hover ul,
ul.sf-menu li li.sfHover ul {
  left:			15em; /* match ul width */
  top:			0;
}
ul.sf-menu li li:hover li ul,
ul.sf-menu li li.sfHover li ul {
  top:			-999em;
}
ul.sf-menu li li li:hover ul,
ul.sf-menu li li li.sfHover ul {
  left:			15em; /* match ul width */
  top:			0;
}



/*** DEMO SKIN ***/
.sf-menu {
  margin-bottom:	1em;
}
.sf-menu a {
  text-decoration:none;
}
.sf-menu a, .sf-menu a:visited  { /* visited pseudo selector so IE6 applies text colour*/
  color:			#13a;
}
.sf-menu li {

}

.sf-menu li:hover, .sf-menu li.sfHover,
.sf-menu a:focus, .sf-menu a:hover, .sf-menu a:active {
  outline:		0;
}
.sf-sub-indicator{
  display:none;
}
/*** arrows
#nav ul li a.sf-with-ul {
	padding-right: 	2.25em;
	min-width:		1px;
}
.sf-sub-indicator {
	position:		absolute;
	display:		block;
	right:			.75em;
	top:			1.05em;
	width:			10px;
	height:			10px;
	text-indent: 	-999em;
	overflow:		hidden;
	background:		image-url('arrows-ffffff.png') no-repeat -10px -100px;
}
a > .sf-sub-indicator {
	top:			.6em;
	background-position: 0 -100px;
}
.sf-menu li li a > .sf-sub-indicator{
	top: 1em;
}

a:focus > .sf-sub-indicator,
a:hover > .sf-sub-indicator,
a:active > .sf-sub-indicator,
li:hover > a > .sf-sub-indicator,
li.sfHover > a > .sf-sub-indicator {
	background-position: -10px -100px;
}


.sf-menu ul .sf-sub-indicator { background-position:  -10px 0; }
.sf-menu ul a > .sf-sub-indicator { background-position:  0 0; }

.sf-menu ul a:focus > .sf-sub-indicator,
.sf-menu ul a:hover > .sf-sub-indicator,
.sf-menu ul a:active > .sf-sub-indicator,
.sf-menu ul li:hover > a > .sf-sub-indicator,
.sf-menu ul li.sfHover > a > .sf-sub-indicator {
	background-position: -10px 0;
}**/

/*** shadows for all but IE6 ***/
.sf-shadow ul {
  background:	image-url('shadow.png') no-repeat bottom right;
  -moz-border-radius-bottomleft: 17px;
  -moz-border-radius-topright: 17px;
  -webkit-border-top-right-radius: 17px;
  -webkit-border-bottom-left-radius: 17px;
}
.sf-shadow ul.sf-shadow-off {
  background: transparent;
}
