<div class="fullblock">
  <div class="footer padding50">
    <div class="container">
      <div class="row">
        <div class="span4">
          <h1 class="widget-title">O spoločnosti</h1>
          <div class="from-blog-2">
            <p>Spoločnosť A.T.O.S. LR, s.r.o.  sa od svojho založenia v roku 2003 zaoberá výrobou poštových/novinových schránok, rozvádzačov NN, elektroinštalačnými prácami, revíziami výhradných elektrických zariadení a bleskozvodov, výrobou <a href="http://atos.sk/hlinikove-fasady" title="Hliníkové fasády" alt="Hliníkové fasády a hliníkové presklenia">hliníkových konštrukcií</a>, dverí a okien. V poslednom období pri výmene <a href="http://atos.sk/hlinikove-okna-a-dvere" title="Hliníkové okná a dvere" alt="hliníkové okná a dvere">vchodových hliníkových</a> dverí prípadne iných stavebných úpravách v bytových domoch je stále rozšírenejšie komplexné <a href="http://atos.sk/pristupove-systemy" title="Prístupové systémy" alt="prístupové systémy">riešenie vstupov</a> a ich zabezpečenie proti vstupu cudzích ľudí do objektu.</p>
            <p>Súčasťou týchto úprav je aj výber kvalitných hliníkových AL dverí, <a href="http://atos.sk/postove-schranky" title="Poštové schránky" alt="poštové schránky">bezpečných poštových schránok</a> a prístupových systémov.Našou víziou je ponúknuť možnosť všetkým zákazníkom nájsť vždy reálne riešenie svojich predstáv individuálne a cenovo výhodné.</p>
          </div>
        </div>
        <div class="span2">
          <h1 class="widget-title">Kontakt</h1>
          <div class="contact-widget">
            <i class="icon-address"></i>
            <p>
              A.T.O.S. LR, s.r.o.<br />
              Lúčna 8<br />
              971 01 Prievidza
            </p>
            <div class="clearfix"></div>
          </div>
          <h1 class="widget-title">Prevádzka</h1>
          <div class="contact-widget">
            <i class="icon-basket-2"></i>
            <p>
              A. Stodolu 4<br />
              Prievidza 971 01
            </p>
          </div>
        </div>
        <div class="span2">
          <h1 class="widget-title">Telefón</h1>
          <div class="contact-widget">
            <i class="icon-phone"></i>
            <p>
              00421 46 5423627<br />
              00421 915 224 830<br />
              00421 905 280 061
            </p>
            <div class="clearfix"></div>
          </div>
          <h1 class="widget-title">E-mail</h1>
          <div class="contact-widget">
              <i class="icon-mail-3"></i>
              <p>
                E-mail: atos@atos.sk<br>
                Web: <a href="http://www.atos.sk">www.atos.sk</a>
              </p>
            </div>
          </div>
        <div class="span4">
          <iframe style="width:100%;height:200px;" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.sk/maps?t=m&amp;q=48%C2%B046'7.99%22N18%C2%B036'20.34%22E&amp;ie=UTF8&amp;z=11&amp;ll=48.768811,18.605629&amp;output=embed"></iframe>
        </div>
        </div>
      </div>
    </div>
  <div class="copyright">
    <div class="container">
      <p>Copyright 2013   <a href="#">A.T.O.S. LR, s.r.o.</a> Všetky práva vyhradené.</p>
    </div>
  </div>
</div>
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-43557671-1', 'atos.sk');
    ga('send', 'pageview');

</script>