<div class="fullblock">
    <div class="topbar">
      <div class="container">

        <!-- Logo -->
        <div class="logo">
          <%= link_to image_tag('atos.png', alt: 'Atos', height: '44'), root_url %></div>
        <!-- /Logo -->

        <!-- Nav -->
        <nav id="nav">

          <!-- Search -->
          <!--<div class="search-include">-->
            <!--<div class="search-button">-->
              <!--<a href="#"><i class="icon-search"></i></a>-->
            <!--</div>-->
            <!--<div class="popup-search">-->
              <!--<form action="" method="post">-->
                <!--<input type="text" value="Search." onblur="if(this.value=='') this.value='Search.';" onfocus="if(this.value=='Search.') this.value='';" class="ft"/>-->
                <!--<input type="submit" value="" class="fs">-->
              <!--</form>-->
            <!--</div>-->
          <!--</div>-->
          <!-- /Search -->

          <!-- Main Menu -->
          <ul class="sf-menu">
            <%= render 'layouts/navigation' %>
          </ul>
          <!-- /Main Menu -->

          <!-- Mobile Nav Toggler -->
          <div class="nav-toggle">
            <a href="#"></a>
          </div>
        </nav>
        <!-- /Nav -->
      </div>
    </div>

    <!-- Mobile Menu -->
    <div class="mobile-menu">
      <div class="mobile-menu-inner">
        <ul>
            <%= render 'layouts/navigation' %>
        </ul>
      </div>
    </div>
    <!-- /Mobile Menu -->
    <% if @slide_show %>
        <%= render 'layouts/slide_show' %>
    <% end %>

</div>