<% flash.each do |name, msg| %>
  <% if msg.is_a?(String) %>
   <div class="row">
     <div class="span12">
        <div class="notifications <%= name == :notice ? "success" : "error" %>">
          <p>
            <%= msg.html_safe %>
          </p>
          <span class="closer"><i class="icon-cancel-1"></i></span>
        </div>
    </div>
    </div>
  <% end %>
<% end %>
