<% cache('menu', skip_digest: true ) do %>
    <%- Page.roots.all(order: :weight).each do |page| %>
        <li>
          <%= link_to page.menu_name, "/#{page.url}" %>
          <% if page.has_children? %>
            <ul>
                <% page.children.all(order: :weight).each do |child| %>
                  <li>
                    <%= link_to child.menu_name, url_gen("/#{child.url}") %>
                        <% if child.has_children? %>
                            <ul>
                              <% child.children.all(order: :weight).each do |second_child| %>
                                  <li><%= link_to second_child.menu_name, url_gen("/#{second_child.url}") -%></li>
                              <% end %>
                            </ul>
                        <% end %>
                  </li>
                <% end %>
            </ul>
          <% end %>
        </li>
    <% end %>
        <li>
          <%= link_to 'Kontakt', contact_url %>
        </li>
<% end %>