<!-- Header Slider -->
<div class="head-slider hidden-phone">
  <div class="fullwidthbanner-container">
    <div class="fullwidthbanner">
      <ul>

        <li data-transition="turnoff" data-slotamount="1" data-masterspeed="300">
          <%= image_tag 'slides/DSC00687.jpg' %>
          <div class="caption lfb ltb"
               data-x="80"
               data-y="20"
               data-speed="600"
               data-start="800"
               data-easing="easeOutExpo"  data-endspeed="600" data-endeasing="easeInSine" ><%= image_tag 'slides/schranky-strieborne.png', alt: 'Poštové schránky' %></div>
          <div class="caption randomrotate"
               data-x="280"
               data-y="250"
               data-speed="600"
               data-start="900"
               data-easing="easeOutExpo"  data-endspeed="600" data-endeasing="easeInSine" ><%= image_tag 'slides/LVA_3596.jpg', alt: 'Poštové schránky' %></div>
          <div class="caption mypassion-title-caption-large lfr ltr"
               data-x="550"
               data-y="110"
               data-speed="600"
               data-start="1100"
               data-easing="easeOutExpo"  data-endspeed="600" data-endeasing="easeInSine" >Poštové schránky</div>
          <div class="caption mypassion-greycolor-fixedwidth lfb ltt"
               data-x="620"
               data-y="200"
               data-speed="600"
               data-start="1400"
               data-easing="easeOutExpo" data-endspeed="600" data-endeasing="easeInSine" ><i class="icon-right-open"></i> do hliníkových/plastových dverí </div>
          <div class="caption mypassion-greycolor-fixedwidth lfb ltt"
               data-x="620"
               data-y="245"
               data-speed="600"
               data-start="1600"
               data-easing="easeOutExpo" data-endspeed="600" data-endeasing="easeInSine" ><i class="icon-right-open"></i> do interiérov/exteriérov na stenu </div>
          <div class="caption mypassion-greycolor-fixedwidth lfb ltt"
               data-x="620"
               data-y="290"
               data-speed="600"
               data-start="1800"
               data-easing="easeOutExpo" data-endspeed="600" data-endeasing="easeInSine" ><i class="icon-right-open"></i> do stavebných otvorov </div>
          <div class="caption lfb ltb"
               data-x="750"
               data-y="335"
               data-speed="600"
               data-start="2000"
               data-easing="easeOutExpo"  data-endspeed="600" data-endeasing="easeInSine" ><a href='<%= url_gen "/postove-schranky" %>' class="btn-theme btn-theme-large"><i class="icon-info-circled left"></i> Podrobnosti </a></div>

        </li>

        <!-- THE FIRST SLIDE -->
        <li data-transition="papercut" data-slotamount="10" data-masterspeed="300" >
          <div class="caption lfb ltb"
               data-x="10"
               data-y="70"
               data-speed="600"
               data-start="800"
               data-easing="easeOutExpo"  data-endspeed="600" data-endeasing="easeInSine" ><%= image_tag 'slides/MB45_drzwi.jpg', alt: "Schranky" %></div>

          <div class="caption mypassion-title lft ltt"
               data-x="400"
               data-y="100"
               data-speed="600"
               data-start="900"
               data-easing="easeOutExpo"  data-endspeed="600" data-endeasing="easeInSine" >
            <span style="color:#9a1e21;">Hliníkové dvere a okná</span><br /> podľa požiadaviek zákazníkov
          </div>

          <div class="caption mypassion-text lfr ltr"
               data-x="420"
               data-y="220"
               data-speed="600"
               data-start="1000"
               data-easing="easeOutExpo"  data-endspeed="600" data-endeasing="easeInSine" > <p>Systémy MB pre hliníkové okná a hliníkové dvere sú ponúkané<br /> v rôznych variantách v závislosti od použitia a od požiadavok<br /> týkajucich sa funkčnosti, estetiky, tepelnej izolácie<br /> a protipožiarnej odolnosti.</p></div>

          <div class="caption lfb ltb"
               data-x="500"
               data-y="320"
               data-speed="600"
               data-start="1100"
               data-easing="easeOutExpo"  data-endspeed="600" data-endeasing="easeInSine" ><a href='<%= url_gen("/hlinikove-okna-a-dvere") %>' class="btn-theme btn-theme-large"><i class="icon-info-circled left"></i> Podrobnosti </a></div>
        </li>

        <!-- THE SECOND SLIDE -->
        <li data-transition="3dcurtain-vertical" data-slotamount="15" data-masterspeed="300" data-delay="9400" data-thumb="">
          <%= image_tag 'slides/LVA_3542.jpg' %>

          <div class="caption mypassion-title-caption-large lft ltt"
               data-x="120"
               data-y="50"
               data-speed="600"
               data-start="900"
               data-easing="easeOutExpo" data-endspeed="600" data-endeasing="easeInSine" >Prístupové systémy</div>

          <div class="caption mypassion-greycolor-fixedwidth lfb ltt"
               data-x="120"
               data-y="150"
               data-speed="600"
               data-start="1400"
               data-easing="easeOutExpo" data-endspeed="600" data-endeasing="easeInSine" ><i class="icon-right-open"></i> Digitálne prístupové systémy </div>

          <div class="caption mypassion-greycolor-fixedwidth lfb ltt"
               data-x="120"
               data-y="195"
               data-speed="600"
               data-start="1600"
               data-easing="easeOutExpo"  data-endspeed="600" data-endeasing="easeInSine" ><i class="icon-right-open"></i> Audiotelefóny, videotelefóny, ... </div>

          <div class="caption mypassion-greycolor-fixedwidth lfb ltt"
               data-x="120"
               data-y="240"
               data-speed="600"
               data-start="1800"
               data-easing="easeOutExpo"  data-endspeed="600" data-endeasing="easeInSine" ><i class="icon-right-open"></i> Návrh technického riešenia </div>

          <div class="caption mypassion-greycolor-fixedwidth lfb ltt"
               data-x="120"
               data-y="285"
               data-speed="600"
               data-start="2000"
               data-easing="easeOutExpo"  data-endspeed="600" data-endeasing="easeInSine" ><i class="icon-right-open"></i> Montáž prístupových zariadení </div>

          <div class="caption mypassion-greycolor-fixedwidth lfb ltt"
               data-x="120"
               data-y="330"
               data-speed="600"
               data-start="2200"
               data-easing="easeOutExpo"  data-endspeed="600" data-endeasing="easeInSine" ><i class="icon-right-open"></i> Kompletný záručný a pozáručný servis </div>
          <div class="caption mypassion-greycolor-fixedwidth lfb ltt"
               data-x="120"
               data-y="375"
               data-speed="600"
               data-start="2400"
               data-easing="easeOutExpo"  data-endspeed="600" data-endeasing="easeInSine" ><i class="icon-right-open"></i> Poradenstvo </div>
          <div class="caption lfb ltb"
               data-x="215"
               data-y="425"
               data-speed="600"
               data-start="2600"
               data-easing="easeOutExpo"  data-endspeed="600" data-endeasing="easeInSine" ><a href='<%= url_gen "/pristupove-systemy" %>' class="btn-theme btn-theme-large"><i class="icon-info-circled left"></i> Podrobnosti </a></div>
        </li>

        <li data-transition="papercut" data-slotamount="10" data-masterspeed="300" >
          <%= image_tag 'slides/DSC00512-2.JPG' %>

          <div class="caption mypassion-title-caption-large lfr ltr"
               data-x="600"
               data-y="20"
               data-speed="600"
               data-start="900"
               data-easing="easeOutExpo"  data-endspeed="600" data-endeasing="easeInSine" > Hliníkové fasády</div>
          <div class="caption mypassion-greycolor-fixedwidth lfb ltt"
               data-x="630"
               data-y="80"
               data-speed="600"
               data-start="1100"
               data-easing="easeOutExpo" data-endspeed="600" data-endeasing="easeInSine" > výroba, projekcia, montáž </div>

          <div class="caption lfb ltb"
               data-x="670"
               data-y="124"
               data-speed="600"
               data-start="1400"
               data-easing="easeOutExpo"  data-endspeed="600" data-endeasing="easeInSine" ><a href='<%= url_gen "/hlinikove-fasady" %>' class="btn-theme btn-theme-large"><i class="icon-info-circled left"></i> Podrobnosti </a></div>
        </li>

        <!-- THE THIRD SLIDE -->

      </ul>
      <div class="tp-bannertimer tp-bottom"></div>
    </div>
  </div>
</div>
<!-- /Header Slider -->