<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!--<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">-->
    <meta name="ROBOTS" content="INDEX, FOLLOW">
    <meta name="keywords" content="<%= content_for?(:keywords) ? "#{yield(:keywords)}".html_safe : 'Atos LR – Prístupové systémy | Hliníkové dvere a okná' %>">
    <meta name="description" content="<%= content_for?(:description) ? "#{yield(:description)}".html_safe : 'Atos LR – Prístupové systémy | Hliníkové dvere a okná' %>">
    <link rel="icon" type="image/png" href="/favicon.png"><!-- Major Browsers -->
    <!--[if IE]><link rel="SHORTCUT ICON" href="/favicon.png"/><![endif]--><!-- Internet Explorer-->
    <title><%= content_for?(:title) ? "#{yield(:title)} - Atos LR" : 'Atos LR – Prístupové systémy | Hliníkové dvere a okná' %></title>
    <%= stylesheet_link_tag "application", media: 'all' %>

    <%= csrf_meta_tags %>
    <script type="text/javascript">
        var analytics=analytics||[];(function(){var e=["identify","track","trackLink","trackForm","trackClick","trackSubmit","page","pageview","ab","alias","ready","group","on","once","off"],t=function(e){return function(){analytics.push([e].concat(Array.prototype.slice.call(arguments,0)))}};for(var n=0;n<e.length;n++)analytics[e[n]]=t(e[n])})(),analytics.load=function(e){var t=document.createElement("script");t.type="text/javascript",t.async=!0,t.src=("https:"===document.location.protocol?"https://":"http://")+"d2dq2ahtl5zl1z.cloudfront.net/analytics.js/v1/"+e+"/analytics.min.js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(t,n)};
        analytics.load("r2npn0c9qt");
    </script>
  </head>
  <body>
      <div class="body-wrapper">
        <header id="header">
            <%= render 'layouts/header' %>
        </header>
        <section id="content">
           <%= render 'layouts/messages' %>
           <%= yield %>
        </section>
        <footer id="footer">
          <%= render 'layouts/footer' -%>
        </footer>
      </div>
    <%= javascript_include_tag 'application' %>
    <%= yield :javascript %>
  </body>
</html>
